span.twitter-typeahead .tt-menu {
  cursor: pointer;
}

.dropdown-menu, span.twitter-typeahead .tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: none;
  float: left;
  font-family: "MullerRegular", sans-serif;
  min-width: 160px;
  padding: 5px 0;
  margin: 10px 0 0;
  font-size: 15px;
  color: #373a3c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  border-radius: 0.25rem; }

@media screen and (max-width: 767px) {
  span.twitter-typeahead .tt-menu {
    left: 15px !important;
    max-width: 279px;
  }
}
@media screen and (max-width: 575px) {
  span.twitter-typeahead .tt-menu {
    left: 0 !important;
    max-width: 100%;
  }
}

span.twitter-typeahead .tt-suggestion {
  display: block;
  width: 100%;
  padding: 5px 15px;
  clear: both;
  font-family: "MullerRegular", sans-serif;
  color: #373a3c;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0; }
span.twitter-typeahead .tt-suggestion:last-child {
  margin-bottom: 5px;
}
span.twitter-typeahead .tt-suggestion:focus,
.dropdown-item:hover,
span.twitter-typeahead .tt-suggestion:hover {
    color: #2b2d2f;
    text-decoration: none;
    background-color: #eeeeee; }
span.twitter-typeahead .active.tt-suggestion, span.twitter-typeahead .tt-suggestion.tt-cursor, span.twitter-typeahead .active.tt-suggestion:focus, span.twitter-typeahead .tt-suggestion.tt-cursor:focus, span.twitter-typeahead .active.tt-suggestion:hover, span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0275d8;
    outline: 0; }
span.twitter-typeahead .disabled.tt-suggestion, span.twitter-typeahead .disabled.tt-suggestion:focus, span.twitter-typeahead .disabled.tt-suggestion:hover {
    color: #818a91; }
span.twitter-typeahead .disabled.tt-suggestion:focus, span.twitter-typeahead .disabled.tt-suggestion:hover {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)"; }
span.twitter-typeahead {
  width: 100%; }
  .input-group span.twitter-typeahead {
    display: block !important; }
    .input-group span.twitter-typeahead .tt-menu {
      top: 2.375rem !important; }

.tt-dataset {
  border-bottom: 1px dotted #eee;
}
.tt-dataset:last-child {
  border-bottom: none;
}
.header-ajax-search {
  border-bottom: 2px dotted #d8d8d8;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.header-ajax-search-name {
  color: #8e8e93;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  padding: 0 15px;
  /*margin-top: 10px;*/
  margin-bottom: 0;
}
.tt-highlight {
  font-weight: 100;
}
.header-ajax-search-category {
  padding: 0 15px;
}
