
@font-face {
  font-family: 'MullerMediumItalic';
  src: url('MullerMediumItalic.eot?#iefix') format('embedded-opentype'),  url('MullerMediumItalic.otf')  format('opentype'),
	     url('MullerMediumItalic.woff') format('woff'), url('MullerMediumItalic.ttf')  format('truetype'), url('MullerMediumItalic.svg#MullerMediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
