<header class="header">
  <div class="default-container header-container">
    <div class="header-part header_top">
      <a href="" class="logo header-logo">
        <img src="img/logo.png" alt="logo">
      </a>
      <div class="header-search">
        <input type="text" class="header-search__input" placeholder="Поиск">
        <a href="" class="header-search__link">Найти</a>
      </div>
      <div class="header-authorise">
        <a href="" class="header-authorise__link login">
          <img src="img/icon_login.svg" alt="login">
          <span>Вход</span>
        </a>
        <a href="" class="header-authorise__link registration">
          <img src="img/icon_register.svg" alt="registration">
          <span>Регистрация</span>
        </a>
      </div>
    </div>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-list__item">
          <a href="" class="header-list__link header-list__link_yellow">
            <img src="img/ellipse.svg" alt="ellipse">
            <span>Промокоды</span>
          </a>
        </li>
        <li class="header-list__item">
          <a href="" class="header-list__link header-list__link_yellow">
            <img src="img/ellipse.svg" alt="ellipse">
            <span>Рейтинг ТОП 100</span>
          </a>
        </li>
        <li class="header-list__item">
          <a href="" class="header-list__link">Бытовая техника</a>
        </li>
        <li class="header-list__item">
          <a href="" class="header-list__link">Авто</a>
        </li>
        <li class="header-list__item">
          <a href="" class="header-list__link">Детские товары</a>
        </li>
        <li class="header-list__item">
          <a href="" class="header-list__link">Дом и дача</a>
        </li>
        <li class="header-list__item">
          <a href="" class="header-list__link">Бытовая техника</a>
        </li>
        <li class="header-list__item">
          <a href="" class="header-list__link">Авто</a>
        </li>
        <li class="header-list__item">
          <a href="" class="header-list__link">Детские товары</a>
        </li>
        <li class="header-list__item">
          <a href="" class="header-list__link">Дом и дача</a>
        </li>
        <li class="header-list__item header-list__item_last">
          <a href="" class="header-list__link">Все категории</a>
        </li>
      </ul>
    </nav>
  </div>
</header>