@font-face {
    font-family: 'Muller';
    src: url('MullerBold.eot');
    src: url('MullerBold.eot?#iefix') format('embedded-opentype'),
        url('MullerBold.woff2') format('woff2'),
        url('MullerBold.woff') format('woff'),
        url('MullerBold.ttf') format('truetype'),
        url('MullerBold.svg#MullerBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

