@font-face {
    font-family: 'Muller';
    src: url('MullerMedium.eot');
    src: url('MullerMedium.eot?#iefix') format('embedded-opentype'),
        url('MullerMedium.woff2') format('woff2'),
        url('MullerMedium.woff') format('woff'),
        url('MullerMedium.ttf') format('truetype'),
        url('MullerMedium.svg#MullerMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

