/* FONTS */
@font-face
	font-family: 'slick'
	src: url('../fonts/fonts/slick.eot')
	src: url('../fonts/fonts/slick.woff'), url('../fonts/fonts/slick.ttf'), url('../fonts/fonts/slick.svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'MullerRegular'
	src: url('../fonts/Muller/Muller-Regular/MullerRegular.eot')
	src: url('../fonts/Muller/Muller-Regular/MullerRegular.eot?#iefix') format("embedded-opentype"), url('../fonts/Muller/Muller-Regular/MullerRegular.woff2') format("woff2"), url('../fonts/Muller/Muller-Regular/MullerRegular.woff') format("woff"), url('../fonts/Muller/Muller-Regular/MullerRegular.ttf') format("truetype"), url('../fonts/Muller/Muller-Regular/MullerRegular.svg#MullerRegular') format("svg")
	font-weight: normal
	font-style: normal
	
@font-face
	font-family: 'MullerMedium'
	src: url('../fonts/Muller/Muller-Medium/MullerMedium.eot')
	src: url('../fonts/Muller/Muller-Medium/MullerMedium.eot?#iefix') format("embedded-opentype"), url('../fonts/Muller/Muller-Medium/MullerMedium.woff2') format("woff2"), url('../fonts/Muller/Muller-Medium/MullerMedium.woff') format("woff"), url('../fonts/Muller/Muller-Medium/MullerMedium.ttf') format("truetype"), url('../fonts/Muller/Muller-Medium/MullerMedium.svg#MullerRegular') format("svg")
	font-weight: 500
	font-style: normal
	
@font-face
	font-family: 'MullerBold'
	src: url('../fonts/Muller/Muller-Bold/MullerBold.eot')
	src: url('../fonts/Muller/Muller-Bold/MullerBold.eot?#iefix') format("embedded-opentype"), url('../fonts/Muller/Muller-Bold/MullerBold.woff2') format("woff2"), url('../fonts/Muller/Muller-Bold/MullerBold.woff') format("woff"), url('../fonts/Muller/Muller-Bold/MullerBold.ttf') format("truetype"), url('../fonts/Muller/Muller-Bold/MullerBold.svg#MullerRegular') format("svg")
	font-weight: bold
	font-style: normal

@font-face 
  font-family: 'MullerMediumItalic'
  src: url('../fonts/Muller/Muller-MediumItalic/MullerMediumItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Muller/Muller-MediumItalic/MullerMediumItalic.otf')  format('opentype'), url('../fonts/Muller/Muller-MediumItalic/MullerMediumItalic.woff') format('woff'), url('../fonts/Muller/Muller-MediumItalic/MullerMediumItalic.ttf')  format('truetype'), url('../fonts/Muller/Muller-MediumItalic/MullerMediumItalic.svg#MullerMediumItalic') format('svg')
  font-weight: normal
  font-style: normal

@font-face 
  font-family: 'MullerLightItalic'
  src: url('../fonts/Muller/Muller-LightItalic/MullerLightItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Muller/Muller-LightItalic/MullerLightItalic.otf')  format('opentype'), url('../fonts/Muller/Muller-LightItalic/MullerLightItalic.woff') format('woff'), url('../fonts/Muller/Muller-LightItalic/MullerLightItalic.ttf')  format('truetype'), url('../fonts/Muller/Muller-LightItalic/MullerLightItalic.svg#MullerLightItalic') format('svg')
  font-weight: normal
  font-style: normal
	
@font-face
	font-family: 'MullerLight'
	src: url('../fonts/Muller/Muller-Light/MullerLight.eot?#iefix') format('embedded-opentype'), url('../fonts/Muller/Muller-Light/MullerLight.woff') format('woff'), url('../fonts/Muller/Muller-Light/MullerLight.ttf')  format('truetype'), url('../fonts/Muller/Muller-Light/MullerLight.svg#MullerLightItalic') format('svg')
	font-weight: 300
	font-style: normal


@font-face 
  font-family: 'MullerUltraLight'
  src: url('../fonts/Muller/Muller-UltraLight/MullerUltraLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/Muller/Muller-UltraLight/MullerUltraLight.otf')  format('opentype'), url('../fonts/Muller/Muller-UltraLight/MullerUltraLight.woff') format('woff'), url('../fonts/Muller/Muller-UltraLight/MullerUltraLight.ttf')  format('truetype'), url('../fonts/Muller/Muller-UltraLight/MullerUltraLight.svg#MullerUltraLight') format('svg')
  font-weight: normal
  font-style: normal
