@import 'vars'
		
.about-us-section
	padding-bottom: 30px
	@media screen and (max-width: 991px)
		padding-bottom: 20px
	@media screen and (max-width: 767px)
		padding: 20px 0
	&_continue
		padding-top: 38px
		padding-bottom: 17px
		@media screen and (max-width: 991px)
			padding-top: 30px
.about-us
	//&__text
		//@media screen and (max-width: 991px)
		//	transform: translateY(-5px)
	&__title
		margin-top: 35px
		@media screen and (max-width: 767px)
			margin-top: 0
			margin-bottom: 20px
.about-list
	margin-top: 1rem
	&__item
		line-height: 1
		padding-left: 1rem
		margin-bottom: 1rem
		position: relative
		&:before
			content: ''
			position: absolute
			left: 0
			top: 50%
			transform: translateY(-50%)
			background-color: #c7c7c7
			-webkit-border-radius: 50px
			-moz-border-radius: 50px
			border-radius: 50px
			width: 8px
			height: 8px


.stats-section
	background: url('../img/bg_blue_stats.png') no-repeat center / cover
	@media screen and (max-width: 767px)
		padding: 55px 15px

.stats
	padding: 41px 55px
	@media screen and (max-width: 991px)
		padding: 34px 15px 15px
	@media screen and (max-width: 767px)
		flex-direction: column
		align-items: center
		padding: 0
	.stats-column
		max-width: 25%
		@media screen and (max-width: 991px)
			max-width: 200px
			flex: 0 0 200px
		@media screen and (max-width: 767px)
			max-width: 250px
			flex: unset
			margin-bottom: 37px
			&:last-child
				margin-bottom: 0
		.stats-cost
			color: #ffffff
			font-family: $font-ultra-light
			font-size: 59px
			font-weight: 200
			letter-spacing: 0.71px
			line-height: 55px
			text-transform: uppercase
			@media screen and (max-width: 991px)
				font-size: 45px
				font-weight: 200
				letter-spacing: 0.54px
				line-height: 1
			@media screen and (max-width: 767px)
				font-size: 59px
				letter-spacing: 0.71px
		.stats-info
			display: flex
			justify-content: space-between
			align-items: center
			min-height: 76px
			&__text
				color: #ffffff
				//font-family: Muller
				font-size: 18px
				font-weight: 300
				padding-right: 1rem
				@media screen and (max-width: 991px)
					font-size: 16px
					font-weight: 300
		.stats-icon
			@media screen and (max-width: 991px)
				width: 63px


.services-section
	background-color: $template-gray
	padding: 40px 0
	@media screen and (max-width: 770px)
		padding-bottom: 0
	
	//.container
	//	@media screen and (max-width: 991px)
	//		max-width: 100%
	//		padding-left: 20px
	//		padding-right: 20px

.services
	&__title
		text-align: center
	.services-info
		margin-top: 41px
		padding: 0 1rem
		justify-content: space-between
		@media screen and (max-width: 1289px)
			justify-content: center
		@media screen and (max-width: 767px)
			justify-content: center
			flex-direction: column
		&-column
			flex: 0 0 28%
			max-width: 28%
			display: flex
			justify-content: space-between
			align-items: flex-start
			@media screen and (max-width: 1289px)
				flex: 0 0 50%
				max-width: 50%
				justify-content: center
			@media screen and (max-width: 770px)
				justify-content: flex-start
				margin-bottom: 30px
			@media screen and (max-width: 767px)
				flex: 0 0 100%
				max-width: 100%
			img
				width: auto
		.services-description
			padding-left: 14px
			@media screen and (max-width: 1289px)
				max-width: 240px
			@media screen and (max-width: 767px)
				max-width: 100%
			&__title
				color: #000000
				font-family: $font-regular
				font-size: 18px
				letter-spacing: -0.45px
				line-height: 23px
			&__text
				margin-top: 10px

.team
	padding: 42px 55px
	@media screen and (max-width: 1289px)
		padding-left: 1rem
		padding-right: 1rem
	@media screen and (max-width: 770px)
		padding: 30px 0 0
	@media screen and (max-width: 767px)
		padding: 0
	&__title
		text-align: center
		@media screen and (max-width: 770px)
			line-height: 1.2
			max-width: 55%
			margin: auto
		@media screen and (max-width: 767px)
			max-width: 100%
			text-align: left
	.team-info
		margin-top: 1rem
		justify-content: space-between
		@media screen and (max-width: 1289px)
			justify-content: center
	.team-column
		flex: 0 0 28%
		max-width: 28%
		display: flex
		align-items: center
		justify-content: flex-start
		@media screen and (max-width: 1289px)
			flex: 0 0 50%
			max-width: 50%
			justify-content: center
		@media screen and (max-width: 770px)
			padding: 0 15px
			justify-content: flex-start
			margin-bottom: 15px
		@media screen and (max-width: 767px)
			flex: 0 0 100%
			max-width: 100%
		@media screen and (max-width: 360px)
			flex: 0 0 100%
			max-width: 100%
	.team-about
		padding-left: 1rem
	.team-name
		color: #000000
		font-family: $font-regular
		font-size: 18px
		font-weight: 400
	.team-position
		color: #8e8e93
		font-family: $font-regular
		font-size: 14px
		font-weight: 400
		margin-top: 15px
		@media screen and (max-width: 767px)
			margin-top: 5px
	.team-image
		@media screen and (max-width: 375px)
			flex: 0 0 75px
			max-width: 75px
		img
			-webkit-border-radius: 50%
			-moz-border-radius: 50%
			border-radius: 50%
			@media screen and (max-width: 375px)
				width: 100%

.coop-section
	background-color: $template-gray
	padding: 33px 0
	@media screen and (max-width: 1289px)
		padding: 40px 0 20px

.coop
	margin-top: 25px
	padding: 0 50px
	&__title
		text-align: center
		@media screen and (max-width: 767px)
			text-align: left
	&-item
		img
			margin: auto
			//max-width: 100%
			width: 100%
			max-height: 70px
			object-fit: cover
			//@media screen and (max-width: 1289px)
			//	max-width: 80%
			//@media screen and (max-width: 767px)
			//	img
			//		max-width: 100%
	.coop-item-align
		//min-height: 70px
		height: 100%
		display: flex
		align-items: center
		justify-content: center
		padding: 0 10px
	.slick-slide
		> div
			font-size: 0
		div
			height: 100%


.about-write
	&-item
		img
			margin: auto
			//max-width: 100%
			width: 100%
			max-height: 70px
			object-fit: cover
			//@media screen and (max-width: 1289px)
			//	max-width: 80%
			//@media screen and (max-width: 767px)
			//	img
			//		max-width: 100%
	.about-write-align
		display: flex
		align-items: center
		justify-content: center
		padding: 0 10px
	.slick-slide
			> div
				font-size: 0
			div
				height: 100%

.video
	padding: 45px 0
	@media screen and (max-width: 1289px)
		padding: 40px 0
	@media screen and (max-width: 767px)
		padding: 0
	.sub-title
		text-align: center
		@media screen and (max-width: 767px)
			text-align: left
	&-wrapper
		margin-top: 1rem

.subscribe-section
	background-color: $template-gray
.subscribe
	padding: 35px 0
	position: relative
	@media screen and (max-width: 770px)
		padding: 15px 0
	@media screen and (max-width: 767px)
		padding: 0
	.sub-title
		text-align: center
		@media screen and (max-width: 767px)
			padding-right: 100px
			text-align: left
		&_normal
			@media screen and (max-width: 1289px)
				max-width: 55%
				margin: auto
				line-height: 1.2
			@media screen and (max-width: 767px)
				max-width: 100%
		&_mini
			@media screen and (max-width: 1289px)
				margin-top: 14px
	.subscribe-icon
		position: absolute
		right: 93px
		top: 50%
		transform: translateY(-51%)
		@media screen and (max-width: 991px)
			right: 30px
			top: 40px
			transform: unset
		@media screen and (max-width: 767px)
			right: 5px
			top: 40px
			transform: unset
		@media screen and (max-width: 767px)
			right: 0
	&__row
		display: flex
		justify-content: center
		align-items: center
		flex-wrap: wrap
		.btn
			max-width: 213px
.subscribe-form
	margin-top: 35px
	@media screen and (max-width: 770px)
		margin-top: 27px
	.subscribe-input
		background-color: #fff
		color: #000
		padding: 14px 28px
		margin-right: 10px
		min-width: 325px
		@media screen and (max-width: 767px)
			min-width: 1px
			width: 100%
			margin-right: 0
	.subscribe-btn
		font-family: $font-medium
		font-size: 16px
		font-weight: 500
		line-height: 18px
		@media screen and (max-width: 767px)
			max-width: 100%
			margin-top: 10px
	.btn-arrow
		margin-left: 20px
		
.about-write-section
	padding: 43px 0
	@media screen and (max-width: 767px)
		padding-bottom: 43px
	//.container
	//	@media screen and (max-width: 991px)
	//		max-width: 100%
	//		padding-left: 20px
	//		padding-right: 20px

.about-write
	margin-top: 25px
	padding: 0 50px

.designed
	color: #000000
	font-family: $font-regular
	font-size: 15px
	display: flex
	align-items: center
	justify-content: center
	padding-top: 45px
	padding-bottom: 6px
	@media screen and (max-width: 770px)
		padding-top: 15px
		padding-bottom: 15px
	@media screen and (max-width: 767px)
		display: none
	img
		margin: 0 5px
	//.container
	//	@media screen and (max-width: 991px)
	//		max-width: 100%
	//		padding-left: 20px
	//		padding-right: 20px