@import 'vars'
	
.breadcrumbs
	display: flex
	justify-content: flex-start
	align-items: center
	flex-wrap: wrap
	padding: 10px 0
	@media screen and (max-width: 991px)
		padding: 5px 0
	@media screen and (max-width: 560px)
		padding: 15px 0
	span
		color: #000
		text-decoration: none
		font-size: 12px
	&-wrapper
		background-color: #f5f5f8
	
	&__item
		position: relative
		&:after
			content: ' \    - '
			font-size: 12px
			font-family: $font-regular
			position: absolute
			bottom: 0
			right: 5px
			color: #000
		&:last-child
			&:after
				display: none
	&__link
		color: $template-blue
		font-size: 12px
		font-family: $font-regular
		text-decoration: underline
		padding-right: 15px
		position: relative
		&:hover
			text-decoration: none
		&_active
			color: #000
			text-decoration: none