@import 'vars';

.icon {
  &_more_blue {
    display: inline-block;
    vertical-align: middle;
    background: url('../img/icon_more_blue.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 13px;
    height: 9px;
  }
  &-bulb {
    display: inline-block;
    vertical-align: middle;
    background: url('../img/bulb.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 33px;
    height: 50px;
  }
}

.bell-yellow {
  display: inline-block;
  vertical-align: middle;
  background: url('../img/bell.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 26px;
  height: 29px;
}

.other-products-arrow {
  display: inline-block;
  vertical-align: middle;
  background: url('../img/other-products-arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 14px;
  height: 10px;
  margin-left: 6px;
}

.found-text {
  font-size: 12px;
  color: $found-text;
  margin-top: -13px;
}

.follow {
  border: 6px solid transparent;
  /* padding: 8px 0 0 25px; */
  display: flex;
  /* flex-direction: column;
  align-items: flex-end; */
  p{
    font-size: 14px;
  }
  .footer-app__btn-notification{
    width: 156px;
    margin-top: 8px;
    justify-content: flex-start;
    /* text-decoration: underline;
    text-decoration-style: dashed; */
  }
  .other-products__bell{
    width: 26px;
    height: 18px;
  }
  &__img {
    margin-right: 8px;
    margin-top: 5px;
  }
  &__col {
    font-size: 12px;
    a {
      font-size: 14px;
      color: $follow-link;
      text-decoration: underline;
      display: block;
      margin-bottom: 8px;
      line-height: 1.25;
      &:hover {
        text-decoration: none;
      }
    }
    p {
      font-size: 12px;
    }
  }
  &.active {
    background-color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 6px solid $template-yellow;
    position: relative;
    z-index: 9999;
    margin-right: -10px;
    max-width: 283px;
    @media screen and (max-width: 1289px) {
      max-width: 100%;
      width: auto;
      margin-right: 0;
    }
  }
}

.catalog {
  padding-top: 20px;
  position: relative;
  display: flex;
  &-widget {
      // margin-bottom: 40px;
      position: relative;
      .section-main {
          position: relative;
      }
  }
  &-main {
    padding-left: 20px;
    flex: 0 0 calc(100% - 224px);
    max-width: calc(100% - 224px);
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      width: calc(100% - 224px);
    }
  }
  &-sidebar {
    max-width: 224px;
    flex: 0 0 224px;
    // position: absolute;
    // left: 0;
    display: block;
    h1 {
      display: none;
    }
  }
  &-filter {
    border: 1px solid $border-prod;
    border-radius: 4px;
    padding: 15px 25px;
    background-color: #fff;
    margin-bottom: 40px;
    label {
      margin-bottom: 14px;
      min-height: 26px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    input {
      max-width: 175px;
      margin-bottom: 10px;
      font-size: 14px;
      color: #000;
      padding-left: 20px;
    }
    &__title {
      font-size: 17px;
      padding: 15px 0;
      border-bottom: 1px solid $border-prod;
      position: relative;
      cursor: pointer;
      padding-right: 13px;
      &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 12px;
        height: 7px;
        background: url('../img/arrow_filter.svg') center no-repeat;
        background-size: contain;
        top: 50%;
        transform-origin: 50% 50%;
        transform: translateY(-50%) rotate(180deg);
        transition: all 0.3s;
      }
      &.active {
        &:after {
          transform: translateY(-50%) rotate(0deg);
        }
      }
    }
    &__filter {
      border-bottom: 1px solid $border-prod;
      padding: 15px 0;
      margin-bottom: 15px;
    }
  }
}

.tooltip {
  display: none !important;
}

.slider {
  &-track,
  &-selection {
    border-radius: 10px;
    box-shadow: none;
    background-image: none;
    background-color: $price-slider-bg;
  }
  &-handle {
    background-image: none;
    box-shadow: none;
    background-color: $template-blue;
    border: 2px solid #fff;
    width: 26px;
    height: 26px;
  }
  &.slider-horizontal {
    height: 26px;
    width: 100%;
    margin-bottom: 15px;
  }
  &-price {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
}

.p-title {
  margin-bottom: 20px;
  display: block;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 34px;
  &:hover{
    text-decoration: underline;
  }
}

.p-price {
  position: relative;
  span {
    color: $template-red;
    font-size: 17px;
    font-family: $font-bold;
    display: block;
    margin-bottom: 5px;
    &.p-price__old {
      font-size: 14px;
      font-family: $font-regular;
      color: rgba(0, 0, 0, 0.4);
      text-decoration: line-through;
    }
  }
  i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.show-more {
  font-size: 14px;
  color: $template-blue;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.list {
  &-white {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    li {
      padding: 9px 18px;
      text-align: center;
      font-size: 14px;
      border-radius: 4px;
      margin-right: 4px;
      border: 1px solid transparent;
      &.active {
        border: 1px solid #fff;
      }
    }
  }
  &-transparent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 14px;
    li {
      margin-right: 10px;
      margin-bottom: 10px;
    }
    a {
      background-color: $input-bg;
      display: block;
      font-size: 13px;
      color: #000;
      text-decoration: none;
      padding: 8px 23px;
      border-radius: 4px;
      border: 1px solid transparent;
      &:hover {
        border-color: #000;
        background-color: #fff;
      }
    }
    .show-more {
      a {
        background-color: transparent;
        color: $template-blue;
        text-decoration: underline;
        padding: 0;
        margin-right: 0;
        font-size: 12px;
        margin-left: 10px;
        &:hover {
          text-decoration: none;
          border-color: transparent;
        }
      }
    }
  }
  &-select {
    li {
      cursor: pointer;
    }
    &__title {
      display: none;
    }
  }
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  a {
    color: $template-blue;
    font-size: 13px;
    display: inline-block;
    position: relative;
    &:after {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background: url("../img/product_sale_grid.svg");
    }
    &:hover {
      &:after {
        opacity: 0;
      }
    }
  }
  @media(max-width: 480px) {
    font-size: 12px;
  }
}

.f-white {
  color: #fff;
}

.section {
  &-main {
    &.active {
      .rating-readall {
        display: none;
      }
    }
  }
  &-close {
    cursor: pointer;
    padding-right: 30px;
    i {
      position: absolute;
      right: 0px;
      font-size: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
    &.active {
      i:before {
        content: '\f107';
        font-size: 28px;
      }
      h2 {
        margin: 0;
      }
    }
  }
}

h2 {
  transition: all 0.3s;
}

.rating {
  width: 100%;
  text-align: left;
  color: #fff;
  background: url('../img/bg_blue_rating.jpg');
  background-position: center;
  padding: 20px 16px;
  margin-top: 40px;
  h2 {
    margin-bottom: 24px;
  }
  &__close {
    position: relative;
    cursor: pointer;
    padding-right: 0;
  }
  &-slider {
    /* margin-left: -15px;
    margin-right: -15px; */
    display: none;
    &.active {
      display: block;
    }
    .slick-slide {
      padding: 15px;
      padding-bottom: 0;
    }
    .slick-dots {
      bottom: -30px;
    }
  }
  &-title {
    margin-bottom: 8px;
    max-height: 34px;
    overflow: hidden;
  }
  &__title {
    font-size: 17px;
    margin-top: 0;
  }
  &-item {
    //width: 283px;
    color: #000;
    position: relative;
    margin-bottom: 70px;
    &:last-child {
      margin-bottom: 56px;
    }
    &__img {
      padding: 0;
      //flex: 0 0 85px;
      //width: 85px;
      a {
        display: block;
        height: inherit;
      }
      img {
        border-radius: 4px;
        max-width: 100%;
        max-height: 100%;
        /* height: 120px; */
        /* object-fit: cover; */
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          max-width: 100%;
          width: auto;
        }
      }
    }
    &__container {
      //display: flex;
      padding: 16px 20px;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
      position: relative;
      z-index: 2;
    }
    &__position {
      position: absolute;
      top: -8px;
      left: -6px;
      font-family: $font-medium;
      span {
        position: relative;
        z-index: 2;
        display: block;
        border-radius: 4px;
        padding: 7px 11px;
        background-color: $rating-item-position;
        font-size: 12px;
      }
      &:after {
        content: '';
        position: absolute;
        right: 40px;
        bottom: 40px;
        a {
          font-size: 12px;
          text-decoration: underline;
          color: #fff;
          &:hover {
            text-decoration: none;
          }
        }
      }
      &__img {
        img {
          border-radius: 4px;
        }
      }
      &__main {
        padding: 12px 20px 12px 13px;
      }
    }
    &__main {
      padding-top: 12px;
    }
  }
  &-readall {
    text-align: center;
    /* position: absolute;
    right: 0;
    bottom: 0; */
    a {
      font-size: 13px;
      text-decoration: underline;
      color: #fff;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.bell-rating {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  vertical-align: middle;
  background: url('../img/bell-rating.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.p {
  &-title {
    font-size: 14px;
    line-height: 1.25;
  }
}

.price-from {
  font-size: 13px;
  margin-bottom: 10px;
  span {
    font-size: 15px;
    font-family: $font-bold;
  }
}

.in-store {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.29);
  display: flex;
  align-items: center;
  justify-content: space-between;
  b{
    color: #9a9a9a;
  }
}

.btn-view-prices {
  display: block;
  text-align: center;
  font-size: 12px;
  color: $template-blue;
  padding: 10px 10px;
  border-radius: 0px;
  background-color: #fff;
  border: 1px solid rgba(112, 112, 112, 0.2);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.07);
  max-width: 244px;
  width: 80%;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  &:hover{
    text-decoration: underline;
  }
}

.slick {
  &-active {
    button {
      border-color: #fff !important;
      &:before {
        background-color: #fff !important;
      }
    }
  }
  &-dots {
    li {
      width: 10px;
      height: 10px;
      button {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid transparent;
        padding: 0;
        margin: 0;
        &:before {
          content: '';
          left: 1px;
          top: 1px;
          opacity: 1 !important;
          border-radius: 50%;
          border: 2px solid #fff;
          background-color: transparent;
          width: 8px;
          height: 8px;
          display: block;
        }
      }
    }
  }
}

.load-more {
  text-align: center;
  a {
    color: rgba(0, 0, 0, 0.29);
    text-decoration: none;
    font-size: 14px;
    span {
      text-decoration: underline;
      margin-right: 9px;
      vertical-align: middle;
    }
    i {
      font-size: 19px;
      vertical-align: middle;
    }
    &:hover {
      span {
        text-decoration: none;
      }
    }
  }
}

.profitable {
  h2 {
    margin-bottom: 20px;
  }
  &__close {
    position: relative;
    i {
      position: absolute;
      right: 35px;
      top: 50%;
      font-size: 20px;
      color: #A8A8A8;
      transform: translateY(-50%);
    }
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
  }
}

.product {
  position: relative;
  display: flex;
  max-width: 303px;
  border: 1px solid $border-prod;
  border-radius: 4px;
  margin-bottom: 46px;
  margin-left: 10px;
  margin-right: 10px;
  .p-title{
    height: 34px;
    overflow: hidden;
    width: calc(100% - 22px);
  }
  &--hover{
    display: none;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    background-color: #fff;
    border: 1px solid rgba(112, 112, 112, 0.12);
    border-top: none;
    border-radius: 0 0 5px 5px;
    width: calc(100% + 2px);
    margin-left: -1px;
    z-index: 3;
    .other-products__link-bell{
      margin-top: 0;
    }
  }
  @media(min-width: 992px) {
    /* &:hover {
      box-shadow: 0 0 8px -5px #000;
      border-color: #fff;
    } */
    &:hover{
      border-radius: 5px 5px 0 0;
    }
    &:hover &--hover{
      display: block;
    }
  }
  @media(max-width: 991px) {
    /* &.active{
      box-shadow: 0 0 8px -5px #000;
      border-color: #fff;
    } */
    &.active{
      border-radius: 0;
    }
    &.active &--hover{
      display: block;
    }
  }
  &__img {
    flex: 0 0 113px;
    width: 113px;
    font-size: 0;
    max-height: 240px;
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        max-width: 100%;
        width: auto;
      }

    }
  }
  &__info {
    position: absolute;
    right: 5px;
    cursor: pointer;
    z-index: 3;
    bottom: 5px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 19px;
  }
  &__sale {
    position: absolute;
    top: -8px;
    left: -6px;
    font-family: $font-medium;
    color: #fff;
    span {
      position: relative;
      z-index: 2;
      display: block;
      border-radius: 4px;
      padding: 7px 11px;
      background-color: $template-red;
      font-size: 12px;
    }
    &:after {
      content: '';
      position: absolute;
      left: 1px;
      bottom: -10px;
      display: block;
      background: url(../img/rating-item-position-red.svg);
      background-size: contain;
      width: 5px;
      height: 13px;
      z-index: 1;
    }
  }
  &__container {
    position: relative; 
    padding: 15px 12px 25px 12px;
    flex: 0 0 calc(100% - 113px);
    width: calc(100% - 113px);
  }
}

.p-cart-bth {
  display: block;
  //position: absolute;
  color: #fff;
  //bottom: -18px;
  background-color: $template-blue;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  min-width: 135px;
  padding: 9.5px 10px;
  margin: 0 15px;
  &:after {
    content: '\f105';
    font-family: "Font Awesome 5 Pro";
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    margin-top: -1px;
  }
  &:hover {
    background-color: $btn-blue-hover;
  }
}

.top-brands {
  background-color: $pagination-bg;
  border: 1px solid rgba(112, 112, 112, 0.13);
  border-radius: 4px;
  padding: 35px;
  margin-bottom: 40px;
  .row {
    align-items: center;
  }
  &__list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    li {
      border: 1px solid transparent;
      border-radius: 4px;
      padding: 8px 19px;
      font-size: 14px;
      font-family: $font-regular;
      color: rgba(0, 0, 0, 0.29);
      display: inline-block;
      cursor: pointer;
      max-width: 220px;
      overflow: hidden;
      text-overflow: ellipsis;
      &.active {
        border-color: #000;
        color: #000;
      }
      @media screen and (max-width: 767px) {
        padding: 8px;
      }
      @media screen and (max-width: 425px) {
        padding: 6px;
      }
    }
  }
  &-items {
    flex-wrap: nowrap;
    display: none;
    justify-content: space-between;
    padding: 20px 0 0px 0;
    &.active {
      display: flex;
    }
    &__img {
      background-color: #fff;
      border-radius: 4px;
      display: flex;
      align-items: center;
      max-width: 165px;
      padding: 19px 20px;
      justify-content: center;
      img {
        width: 100%;
        //max-height: 70px;
        max-height: 100px;
        object-fit: cover;
      }
    }
  }
}

.align-items {
  align-items: center;
}

.see-all {
  font-size: 13px;
  color: $template-blue;
  i {
    margin-left: 10px;
  }
  &:hover {
    text-decoration: underline;
  }
}

.promos {
  margin-bottom: 40px;
  &__see-all {
    // text-align: right;
  }
  &__row {
    margin-bottom: 22px;
  }
  &-slider {
    padding: 0 45px;
    margin-bottom: 20px;
    .slick-slide {
      padding: 0 10px;
      & > div {
        height: 100%;
      }
    }
    &__item {
      height: 100%;
      .discount {
        font-size: 13px;
        max-width: 57px;
        height: 30px;
      }
      .promocode {
        padding: 13px;
        &_big {
          .promocode-desc__date {
            font-size: 13px;
          }
          .promocode-desc {
            &__percent {
              font-size: 59px;
            }
            & ~ .promocode__text {
              font-size: 19px;
            }
          }

        }
        .promocode-image {
          margin-bottom: 17px;
        }
        &__text {
          font-size: 14px;
        }
      }
    }
  }
}

.sort {
  margin-bottom: 30px;
  &__list {
    display: flex;
    align-items: center;
    font-size: 12px;
    li {
      margin-right: 20px;
      a {
        opacity: 0.29;
        color: #000;
        &:after {
          content: "";
          display: block;
          height: 2px;
          width: 100%;
          background: url("../img/dots-black.svg");
          opacity: 0.29;
        }
        &:hover{
          &:after{
            opacity: 0;
          }
        }
        &.active {
          opacity: 1;
          &:after {
            opacity: 1;
          }
          &:hover{
            &:after{
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.other-offers {
  padding-bottom: 40px;
  .sub-title {
    margin-bottom: 22px;
  }
}

.other-products {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-left: -10px;
  margin-right: -10px;
  .product {
    flex-direction: column;
    max-width: 220px;
    text-align: center;
    /* padding-bottom: 15px; */
    margin-bottom: 35px;
    &__img {
      text-align: center;
      width: 100%;
      height: 240px;
      margin-bottom: 10px;
      flex: auto;
      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          max-width: 100%;
          width: auto;
        }
      }
    }
    &__container{
      width: 100%;
      flex: unset;
      //flex: auto;
      padding: 15px 12px 13px 12px;
      .p-title{
        width: 100%;
      }
    }
  }
  &__title {
    margin-bottom: 13px;
  }
  &__price {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 12px;
    span {
      font-size: 20px;
      margin-bottom: 0;
    }
  }
  &__bell {
    width: 17px;
    height: 20px;
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px; */
    &.bell-rating {
      bottom: 10px;
      width: 20px;
      height: 25px;
    }
  }
  &__link-bell {
    display: block;
    margin: 4px 30px 10px;
    font-size: 12px;
    background-color: #dff0f7;
    padding: 5px 6px;
    color: #000;
  }
  &__prices-btn {
    color: $template-blue;
    background-color: #fff;
    border: 1px solid $border-prod;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    //position: absolute;
    padding: 9.5px 0;
    margin: 0 15px;
    //width: 100%;
    //max-width: 185px;
    /* top: 100%;
    left: 50%;
    transform: translateX(-50%); */
    display: block;
    white-space: nowrap;
    font-size: 13px;
    &:hover{
      text-decoration: underline;
    }
  }
  &__btn, &__prices-btn {
    margin: 0 15px 10px;
  }
  .price-from {
    font-size: 14px;
    margin-bottom: 12px;
    span {
      font-size: 20px;
    }
  }
  .in-store {
    display: block;
  }
  &__links-shops{
    margin: 0 10px 10px;
  }
  &__shop-item{
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
  }
  &__shop-link, &__shop-price{
    font-size: 13px;
  } 
  &__shop-link{
    color: #525252;
    text-decoration: underline;
  }
  &__shop-price{
    color: #cd0031;
  }
  &__specifications{
    border-top: 1px solid #f5f5f5;
    padding-top: 10px;
    margin: 0 10px 15px;
  }
  &__specification{
    //display: flex;
    //justify-content: space-between;
    font-size: 12px;
    text-align: left;
    margin-bottom: 4px;
    height: 14px;
    overflow: hidden;
    &-name{
      color: #b8b8b8;
      display: inline-block;
      //margin-right: 4px;
    }
    &-value{
      letter-spacing: -1px;
    }
  }
  &__description{
    border-top: 1px solid #f5f5f5;
    padding-top: 10px;
    margin: 0 10px 15px;
    p{
      font-size: 12px;
      color: #595959;
      text-align: left;
    }
  }
}

.catalog-description {
  padding-top: 1.33em;
  padding-bottom: 47px;
  @media screen and (max-width: 767px) {
    padding-top: 1.33em;
  }
  &_seo {
    @media screen and (max-width: 767px) {
      padding-bottom: 20px;
    }
    h2 {
      margin-bottom: 15px;
    }
    ul {
      font-size: 14px
    }
  }
  &.catalog-description-home {
    padding-top: 50px!important;
    padding-bottom: 50px;
    @media screen and (max-width: 767px) {
      padding-top: 30px!important;
      padding-bottom: 30px;
    }
  }
  h4 {
    margin-bottom: 8px;
    margin-top: 0;
    font-family: $font-regular;
    font-weight: 400;
  }
}

.widget {
  background-color: $input-bg;
  border: 1px solid $border-prod;
  border-radius: 4px;
  padding: 18px;
  &__title {
    font-size: 17px;
    margin-bottom: 14px;
    i {
      margin-right: 14px;
    }
  }
  &__text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.48);
    line-height: 1.3;
    margin-bottom: 12px;
  }
}
.list-select-slider {
  margin-top: 28px;
  //padding-bottom: 30px;
  .slick-dotted.slick-slider{
    margin-bottom: 0;
  }
}
@media (max-width: 1290px) {
  .top-brands {
    .sub-title {
      margin-bottom: 20px;
    }
    &__list {
      justify-content: flex-start;
    }
  }
  .other-products {
    margin-left: -5px;
    margin-right: -5px;
    .product {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  .top-brands{
      .sub-title{
          margin-bottom: 20px;
      }
      &__list{
          justify-content: flex-start;
      }
      &-items{
          &__img{
              margin: 0 10px;
              padding: 10px;
          }
      }
  }

}

@media (max-width: 991px) {
  .catalog {
    display: block;
    &-main{
      max-width: 100%;
    }
    &-sidebar {
      display: none;
      position: fixed;
      top: 71px;
      left: 0;
      max-width: 100%;
      width: 100%;
      height: calc(100vh - 71px);
      overflow-y: scroll;
      z-index: 4;
      h1 {
        background-color: #fff;
        display: block;
        padding: 15px;
      }
    }
    &-filter {
      margin-bottom: 0;
      border: none;
    }
    &-main {
      padding-left: 0;
    }
    .widget {
      display: none;
    }
  }
  .other-products {
    margin-left: -10px;
    margin-right: -10px;
    .product {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

}

@media (max-width: 767px) {
  .follow {
    display: none;
  }
  .catalog {
    &-widget {
      margin-bottom: 0;
    }
  }
  .main {
    padding-bottom: 0;
  }
  .top-brands {
    margin-bottom: 0;
  }
  .promos {
    margin-bottom: 0;
  }
  .rating {
    margin-bottom: 0;
    &-slider {
      text-align: center;
    }
    &-item {
      max-width: 322px;
    }
    &-readall {
      display: none;
    }
  }
  .top-brands-items {
    flex-wrap: wrap;
    &__img {
      margin: 0;
      margin-bottom: 10px;
      flex: 0 0 47%;
      min-height: 120px;
      max-width: none;
    }
  }
  .list {
    &-select {
      position: relative;
      max-width: 322px;
      margin-left: auto;
      margin-right: auto;
      &__title {
        display: block;
        cursor: pointer;
        font-size: 14px;
        padding: 10px 20px;
        background-color: #fff;
        color: #000;
        border-radius: 4px;
        position: relative;
        &:after {
          content: '';
          display: block;
          position: absolute;
          right: 20px;
          top: 50%;
          width: 8px;
          height: 13px;
          transform-origin: 50% 50%;
          transform: translateY(-50%) rotate(-90deg);
          background: url('../img/Backward_arrow_small.svg');
          background-size: contain;
          transition: all 0.3s;
          background-repeat: no-repeat;
        }
      }
      ul {
        // display: none;
        position: absolute;
        left: 0;
        width: 100%;
        display: none;
        background-color: #fff;
        z-index: 4;
        border-radius: 4px;
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        li {
          display: block;
          font-size: 14px;
          border: 0;
          color: #000;
          text-align: left;
        }
      }
      &.active {
        .list-select__title {
          &:after {
            transform: translateY(-50%) rotate(90deg);
          }
        }
        ul {
          display: block;
        }
      }
    }
  }
  .profitable {
    &-list{
      .product {
        margin-left: 5px;
        margin-right: 5px;
        max-width: 255px;
        &__img{
          flex: 0 0 100px;
          max-width: 100px;
        }
        &__container{
          flex: 0 0 calc(100% - 100px);
          max-width: calc(100% - 100px);
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .rating {
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .top-brands {
    margin-left: -15px;
    margin-right: -15px;
    border: 0;
    border-radius: 0;
  }
  .other-products {
    .product {
      flex: 0 0 280px;
      max-width: 280px;
    }
  }
  .profitable__close i {
    right: 0px;
  }
  .list-transparent li {
    margin-right: 5px;
  }
  .top-brands__list a {
    padding: 8px 12px;
  }
  .profitable-list {
    .product {
      max-width: 303px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.empty-part-section {
}
.empty-part {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 650px;
  overflow: hidden;
  @media screen and (max-width: 767px) {
    min-height: 350px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 20%;
    background: url('../img/steps-empty-part.svg') no-repeat;
    width: 100%;
    height: 100%;
    @media screen and (max-width: 767px) {
      left: 0;
    }
  }
  &__text {
    color: #000;
    font-size: 38px;
    font-family: $font-bold;
    text-align: center;
    opacity: 0.17;
    @media screen and (max-width: 767px) {
      font-size: 25px;
    }
  }
  .empty-part-subscribe {
    text-align: center;
    &__title {
      font-size: 27px;
      font-family: $font-medium;
      @media screen and (max-width: 767px) {
        font-size: 20px;
      }
    }
    .btn {
      max-width: 224px;
      display: block;
      margin: 30px auto 0;
      position: relative;
      z-index: 1;
    }
  }
}
.sort-text{
  font-size: 14px;
  @media(max-width: 767px) {
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 8px;
  }
}
.sort-tags{
  display: flex;
  flex-wrap: wrap;
  margin-left: 8px;
  @media(max-width: 767px) {
    margin-left: 0;
  }
}
.sort-tag{
  margin: 0 10px 5px;
  opacity: .5;
  a{
    color: #000
  }
  &.active{
    opacity: 1;
  }
  &:hover{
    opacity: 1;
  }
  @media(max-width: 767px) {
    margin: 0 10px 5px 0;
  }
}
.marks {
  display: flex;
  flex-wrap: wrap;
  /* margin-bottom: 15px; */
  @media screen and (max-width: 991px) {
    padding: 15px 25px 0;
    background-color: #fff;
    margin-bottom: 0;
  }
  .mark {
    background-color: #F2F2F2;
    border: 1px solid #e2e2e2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    font-family: $font-regular;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    padding: 7px 15px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
    &:hover {
      border: 1px solid #000;
      .mark-close {
        color: #000;
      }
    }
    &-value {
      max-width: 160px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-wrapper {
      flex: 0 0 100%;
      max-width: 100%;
      @media screen and (max-width: 991px) {
        &:last-child {
          margin-right: 0;
          .mark {
            margin-bottom: -15px;
          }
        }
        flex: 0 0 auto;
        margin-right: 15px;
      }
    }
    &-close {
      color: #8e8e93;
      margin-left: 25px;
      transition: all 0.3s ease-in-out;
    }
  }
}

.catalog-main {
  section {
    &:last-child {
      margin-bottom: 0;
    }
  }
}