@import 'vars'

.price-withSale
	font-size: 12px
	font-family: $font-medium
	line-height: 1.35
	margin-bottom: 4px

.top-slider__item
	position: relative
	max-width: 283px
	margin-bottom: 50px

.promo-link
	display: inline-block
	font-size: 13px
	color: $template-red
	text-decoration: underline
	letter-spacing: -0.5px
	&:hover
		text-decoration: none

.advantage-list
	font-size: 13px
	color: $color-29
	margin: 0
	line-height: 1.4
	li
		padding-left: 23px
		position: relative
	&__delivery
		&:after
			content: ''
			display: block
			position: absolute
			left: -1px
			top: 0
			background-image: url("../img/icons/delivery.svg")
			background-size: contain
			background-repeat: no-repeat
			width: 17px
			height: 18px

.like
	&-col
		display: flex
		flex-direction: column
		font-size: 13px
		padding: 0 15px
		color: $color-29
		i
			margin-right: 5px
		& > div
			margin-bottom: 15px

.t
	&-container
		position: relative
		z-index: 2
		background-color: #fff
		border-radius: 4px
		display: flex
		color: #000
		padding: 17px 10px
		box-shadow: 0 0 12px rgba(0, 0, 0, 0.1)
		img
			width: 100%
			max-height: 55px
			object-fit: cover
			@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
				width: auto
				max-width: 100%
	&-left
		flex: 0 0 32%
		padding: 10px 0
		.img
			margin-bottom: 20px
	&-right
		padding-left: 10px
		.p-title
			margin-bottom: 8px
		.price-withSale
			margin-bottom: 3px
		.promo-link
			margin-bottom: 10px
		.advantage-list
			padding-right: 5px

.catalog-lists
	margin-top: 30px
	.catalog-list
		width: calc(100% / 3)
		padding-right: 15px
		margin-bottom: 30px
		@media screen and (max-width: 1289px)
			width: calc(100% / 2)
		@media screen and (max-width: 767px)
			width: 100%
		&__item
			width: 100%
			margin-bottom: 15px
			&.first
				font-family: $font-bold
				font-size: 19px
				color: #000
		&__link
			display: inline-block
			font-family: $font-regular
			font-size: 14px
			color: $template-blue
			text-decoration: underline
			&:hover
				text-decoration: none