@import 'vars'
	
.bg-white
    background-color: #fff
    input
        background-color: $input-bg!important
.cat
    &-page
        display: flex
    &-sidebar
        flex: 0 0 365px
        max-width: 365px
        padding-right: 20px
        .pa-sidebar-list
            font-size: 13px
            margin-bottom: 30px
            padding-right: 30px
            li
                margin-bottom: 3px
    &__load-more
        margin-bottom: 20px
    &__pagination
        margin-bottom: 50px
    &-main
        flex: 0 0 calc(100% - 365px)
        max-width: calc(100% - 365px)
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
            width: calc(100% - 365px)
.articles
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    &:after
        content: ""
        flex: 0 0 32%

.article
    flex: 0 0 32%
    display: flex
    flex-direction: column
    position: relative
    margin-bottom: 35px
    max-width: 350px
    &__img
        width: 100%
        height: 220px
        overflow: hidden
        margin-bottom: 15px
        border-radius: 4px
        img
            object-fit: cover
            width: 100%
            height: 100%
    &__category
        font-size: 12px
        margin-bottom: 10px
        a
            color: $template-blue
            text-decoration: underline
            &:hover
                text-decoration: none
    &__link
        font-size: 17px
        line-height: 1.3
        margin-bottom: 5px
        height: 64px
        overflow: hidden
        text-overflow: ellipsis
        a
            color: #000000
            text-decoration: none
            &:hover
                text-decoration: underline
    &__excerpt
        text-overflow: ellipsis
        height: 40px
        overflow: hidden

.articles-slider
    .slick-arrow
        z-index: 9
.art-slide
    height: 212px
    display: flex
    flex-direction: column
    max-width: 260px
    justify-content: flex-end
    border-radius: 4px
    overflow: hidden
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    padding: 15px 12px
    margin: 0 auto
    position: relative
    &__image
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
    &__link
        overflow: hidden
        height: 65px
        line-height: 1.3
        letter-spacing: -0.4px
        z-index: 1
        a
            color: #ffffff
            font-size: 18px
            &:hover
                text-decoration: underline
    &__info
        font-size: 12px
        color: #BFBFBF
        margin-top: 15px
        z-index: 1

.widget-popular-articles
    background-color: $template-gray
    padding: 40px 20px    
    h2
        margin-bottom: 15px
    .article
        margin-bottom: 0
        &__img
            height: 250px
        &__link
            max-height: 43px
            a
                text-decoration: underline
                &:hover
                    text-decoration: none

.slider-dots-blue
    .slick-dots 
        button:before
            border-color: #B8B8B8
    .slick-active 
        button
            border-color: $template-blue!important
            &:before
                background-color: $template-blue!important
                border-color: $template-blue

.how-choose
    background-color: #FFDA00
    padding: 7px
    font-size: 12px
    color: #000000
    border-radius: 4px
    font-family: $font-medium
    position: absolute
    top: 10px
    left: 10px

@media (max-width: 1289px)
    .article
        flex: 0 0 49%

@media (max-width: 991px)
    .cat
        &-sidebar
            flex: 0 0 100%
            max-width: 100%
            padding: 0
            .pa-sidebar-list
                padding-right: 0
                a
                    width: auto !important
        &-page
            flex-direction: column
        &-main
            flex: 0 0 100%
            max-width: 100%
            order: 2
    .sidebar
        &-top
            order: 1
            margin-bottom: 40px
        &-bottom
            order: 3
            .pa-sidebar-list
                display: none
@media (max-width: 767px)
    .widget-popular-articles
        margin-right: 0
        display: block
    .articles
        justify-content: center
        flex-direction: column
    .article
        flex: 0 0 100%
        width: 100%
        max-width: 100%
        &__link
            height: auto
        &__img
            height: auto
    .articles-slider
        margin-bottom: 30px
        &__item
            padding: 0 10px
    .art-slide
        max-width: auto

@media (max-width: 560px)
    .widget-popular-articles
        margin-left: -15px
        margin-right: -15px
    .bg-white
        margin-left: -15px
        margin-right: -15px
        background-color: $template-gray
        .subscribe-form 
            .subscribe-input
                background-color: #ffffff !important
            