/*общие элементы*/

@import 'vars'

hr
	border: 0
	border-bottom: 1px solid #ECECEC
	margin-top: 45px
	margin-bottom: 40px

/* slick default */
.slick-loading .slick-list
	background: #fff url('../img/ajax-loader.gif') center center no-repeat

.slick-next, .slick-prev
	transform: unset
	&:before
		display: none

.slick-prev
	background: #fff url('../img/arrow.svg') no-repeat center / 10px
	left: 0
	transform: scale(-1, 1) translateY(-50%)
	&:hover, &:focus
		background: #fff url('../img/arrow.svg') no-repeat center / 10px

.slick-next
	background: #fff url('../img/arrow.svg') no-repeat center / 10px
	right: 0
	transform: translateY(-50%)
	&:hover, &:focus
		background: #fff url('../img/arrow.svg') no-repeat center / 10px

.slick-arrow
	background-color: #fff
	border: 1px solid #e2e2e2
	-webkit-border-radius: 4px
	-moz-border-radius: 4px
	border-radius: 4px
	padding: 24px 13px
	top: 50%
	transition: all 0.3s ease-in-out
	&:hover, &:focus
		border: 1px solid #bcbcbc
		outline: none
.arrow-color
	.slick-arrow
		background-color: #efeff4
		&:hover, &:focus
			background-color: #efeff4
	.slick-prev
		background: #efeff4 url('../img/arrow.svg') no-repeat center / 10px
		left: 0
		transform: scale(-1, 1) translateY(-50%)
		&:hover, &:focus
			background: #efeff4 url('../img/arrow.svg') no-repeat center / 10px
	
	.slick-next
		background: #efeff4 url('../img/arrow.svg') no-repeat center / 10px
		right: 0
		transform: translateY(-50%)
		&:hover, &:focus
			background: #efeff4 url('../img/arrow.svg') no-repeat center / 10px
/*/slick default*/
.main
	padding: 30px 0

.text
	color: #8e8e93
	font-size: 14px
	font-family: $font-regular
	line-height: 20px
p
	font-size: 14px
	color: $text-gray-about
	line-height: 1.5
h3
	font-size: 17px
h2
	color: #000000
	font-family: $font-medium
	font-size: 27px
	font-weight: 500
	letter-spacing: 0.32px
	@media screen and (max-width: 767px)
		font-size: 24px
		text-align: left

.sub-title
	color: #000000
	font-family: $font-medium
	font-size: 27px
	font-weight: 500
	letter-spacing: 0.32px
	@media screen and (max-width: 767px)
		font-size: 24px
		text-align: left
	&_normal, &_mini
		display: block
	&_mini
		color: #8e8e93
		font-family: $font-regular
		font-size: 14px
		margin-top: 1rem
		letter-spacing: -0.08px
		text-align: center
		@media screen and (max-width: 767px)
			text-align: left

.page-title
	color: #000
	font-size: 33px
	font-family: $font-medium
	margin-bottom: 30px

input, textarea
	color: rgba(0, 0, 0, 0.57)
	border: 1px solid transparent
	border-radius: 4px
	background-color: $input-bg
	padding: 9px 28px
	font-size: 13px
	margin-bottom: 15px
	transition: all 0.3s
	&::placeholder
		font-size: 13px
	&:hover
		border-color: #000000

.btn
	background-color: $template-blue
	border: none
	border-radius: 4px
	width: 100%
	padding: 12px
	text-align: center
	color: #fff
	font-size: 16px
	font-family: $font-regular
	cursor: pointer
	&:hover
		background-color: $btn-blue-hover

p
	a
		color: $template-blue
		text-decoration: underline
		&:hover
			text-decoration: none

.list-mark
	font-family: $font-regular
	font-size: 14px
	color: $text-gray-about
	line-height: 1.3
	padding: 0
	margin: 0
	li
		padding-left: 20px
		margin-bottom: 13px
		position: relative
		&:after
			content: ''
			display: block
			width: 8px
			height: 8px
			background-color: $text-gray-about
			border-radius: 50%
			position: absolute
			left: 2px
			top: 4px

.list-numb
	font-family: $font-regular
	font-size: 14px
	color: $text-gray-about
	letter-spacing: -0.2px
	line-height: 1.3
	padding: 0
	margin: 0
	list-style: none
	counter-reset: list-numb
	li
		padding-left: 20px
		margin-bottom: 18px
		position: relative
		counter-increment: list-numb
		&:after
			font-family: $font-regular
			content: counter(list-numb) ". "
			display: block
			position: absolute
			left: 0
			top: 0

blockquote
	margin: 0
	max-width: 580px
	margin-left: 60px
	margin-top: 33px
	margin-bottom: 33px
	border-left: 6px solid
	border-image: url(../img/blockquote.jpg) 30 round round
	font-size: 17px
	padding-left: 20px
	line-height: 1.2
	font-family: $font-medium-italic

.blockquote-author
	font-family: $font-light-italic
	font-size: 13px
	text-align: right
	color: $text-gray-about

.checkbox
	display: block
	position: relative
	padding: 6px 0 6px 40px
	cursor: pointer
	user-select: none
	color: $text-gray-about
	font-size: 14px
	font-family: $font-regular
	input
		position: absolute
		opacity: 0
		cursor: pointer
		height: 0
		width: 0
		&:checked
			& ~ .checkmark
				background-color: $template-blue
				border-color: $template-blue
				&:after
					display: block
				& ~ .label
					color: #000
	&:hover
		input
			// & ~ .checkmark
			// 	background-color: $template-blue
			// 	border-color: $template-blue
			// 	&:after
			// 		display: block
			& ~ .label
				color: #000

.checkmark
	position: absolute
	top: 50%
	transform: translateY(-50%)
	left: 0
	height: 25px
	width: 25px
	background-color: #ffffff
	border: 1px solid $border-checkbox
	border-radius: 5px
	&:after
		content: ''
		position: absolute
		display: none
		left: 8px
		top: 3px
		width: 8px
		height: 13px
		border: solid white
		border-width: 0 2px 2px 0
		transform: rotate(45deg)

.checkcontainer
	display: block
	position: relative
	cursor: pointer
	user-select: none
	padding: 6px 0 10px 40px
	color: $text-gray-about
	font-size: 14px
	font-family: $font-regular
	input
		position: absolute
		opacity: 0
		cursor: pointer
		height: 0
		width: 0
		&:checked
			& ~ .radiobtn
				background-color: $template-blue
				border-color: $template-blue
				&:after
					display: block
				& ~ .label
					color: #000
	&:hover
		input
			& ~ .radiobtn
				background-color: $template-blue
				border-color: $template-blue
				&:after
					display: block
			& ~ .label
				color: #000

.radiobtn
	position: absolute
	top: 0
	left: 0
	height: 25px
	width: 25px
	background-color: #ffffff
	border: 1px solid $border-checkbox
	border-radius: 50%
	&:after
		content: ''
		position: absolute
		display: none
		left: calc(50% - 4px)
		top: calc(50% - 4px)
		width: 8px
		height: 8px
		border-radius: 50%
		background-color: #fff
		transform: rotate(45deg)

.pagination
	font-family: $font-regular
	font-size: 13px
	color: $pagination-color
	display: flex
	justify-content: center
	align-items: center
	text-align: center
	padding-top: 15px
	&__link,
	&__active
		border-radius: 50%
		border: 1px solid $pagination-bg
		width: 30px
		color: $pagination-color
		display: block
		padding: 8px 0
		height: 30px
		margin: 0 3.4px
		&:hover
			background-color: $pagination-bg
	&__active
		color: $pagination-color
		display: block
		border-radius: 50%
		border: 1px solid $pagination-bg
		background-color: $pagination-bg
		width: 30px
		height: 30px
		padding: 8px 0
		margin: 0 3px
	&__dots
		display: block
		padding: 6px 5px

.arrow
	&-next,
	&-prev
		display: block
		background: url('../img/arrow.svg') no-repeat
		background-size: contain
		height: 9px
		width: 6px
		margin: 0 7px
	&-first,
	&-last
		display: block
		height: 9px
		width: 11px
		background: url('../img/double_arrow.svg') no-repeat
		background-size: contain
		margin: 0 7px
	&-prev,
	&-first
		transform: scale(-1, -1)

.price-slider
	position: relative

.tooltip
	display: block !important

strong
	color: #000
	font-family: $font-regular

.btn-arrow
	background: url('../img/subscribe_btn.svg') no-repeat
	display: inline-block
	width: 14px
	height: 11px

.btn-arrow_blue
	background: url('../img/subscribe_btn.svg') no-repeat
	width: 14px
	height: 11px

//svg
//	fill: red
//	path, circle, g
//		fill: red

.embed-responsive
	position: relative
	display: block
	width: 100%
	padding: 0
	overflow: hidden
	margin: auto
	max-width: 643px
	@media screen and (max-width: 1289px)
		max-width: 519px

.embed-responsive-16by9
	&:before
		padding-top: 56.25%

.embed-responsive
	iframe
		position: absolute
		top: 0
		bottom: 0
		left: 0
		width: 100%
		height: 100%
		border: 0
	&:before
		display: block
		content: ""
		
.promocode
	border: 1px dashed #cecece
	-webkit-border-radius: 4px
	-moz-border-radius: 4px
	border-radius: 4px
	width: 100%
	height: 100%
	display: flex
	flex-direction: column
	padding: 10px
	&:hover
		border: 1px dashed #cd0031
	&__text
		color: #9f9f9f
		font-family: $font-regular
		font-size: 12px
		font-weight: 400
	.promocode-desc
		display: none
	.promocode-image
		display: flex
		justify-content: center
		align-items: center
		//min-height: 70px
		height: 80px
		//max-width: 126px
		overflow: hidden
		img
			max-width: 100%
			object-fit: contain
			object-position: center
	&_big
		background: url('../img/bg.png') no-repeat
		background-size: 100% 100%
		border: none
		justify-content: center
		&:hover
			border: none
			background: url('../img/bg2.png') no-repeat
			-webkit-background-size: 100% 100%
			background-size: 100% 100%
		.discount
			display: none
		.promocode-desc
			display: block
			&__date
				color: #ffffff
				font-family: $font-light
				font-size: 11px
				font-weight: 300
				text-transform: uppercase
			&__percent
				color: #ffffff
				font-family: $font-bold
				font-size: 48px
				padding-top: 5px
				padding-bottom: 15px
				text-transform: uppercase
			~ .promocode__text
				color: #ffffff
				font-family: $font-medium
				font-size: 15px
				font-weight: 500
				text-transform: uppercase
		.promocode-image
			display: none
		img
			width: 100%
			.discount
				opacity: 0

.discount
	background-color: #cd0031
	-webkit-border-radius: 4px
	-moz-border-radius: 4px
	border-radius: 4px
	color: #ffffff
	font-family: $font-regular
	font-size: 11px
	font-weight: 400
	display: flex
	align-items: center
	justify-content: center
	max-width: 48px
	height: 24px
	margin-bottom: 5px

.link
	&-small
		font-size: 12px
		text-decoration: underline
		color: $template-blue
		&:hover
			text-decoration: none

.jq-selectbox
	width: 100%
	font-size: 14px
	&__select
		background-color: #ffffff
		color: #000
		border: 1px solid $border-checkbox
		border-radius: 4px
		padding: 9px 25px 9px 15px
		width: 100%
		cursor: pointer
	&__trigger
		&-arrow
			&:after
				content: '\f105'
				position: absolute
				font-family: "Font Awesome 5 Pro"
				font-weight: 300
				font-size: 20px
				background: none
				color: rgba(0,0,0,0.49)
				width: auto
				height: auto
				display: block
				right: 13px
				top: 50%
				transition: all 0.3s
				transform: translateY(-50%) rotate(90deg)
	&.opened
		.jq-selectbox__trigger-arrow
			&:after
				transform: translateY(-50%) rotate(-90deg)
	&__dropdown
		background-color: #ffffff
		border: 1px solid $border-checkbox
		border-radius: 4px
		padding: 9px 15px
		width: 100%
		margin: 5px 0
		li
			margin-bottom: 20px
			cursor: pointer
			color: #000
			&:last-child
				margin-bottom: 0
			&:hover
				text-decoration: underline
.rating__select
	.jq-selectbox__select
		border-color: #fff
	
.rating-item
	.btn-view-prices
		letter-spacing: -0.5px
		width: 84%
	.p-title
		max-height: unset

.rating-item__img
	display: flex
	justify-content: center
	align-items: center
	height: 120px

.rating__description
	font-size: 13px
	color: #fff
	line-height: 1

.rating__title--big
	margin-top: 0
    
	font-size: 20px

	margin-bottom: 6px

.done
	position: relative
	width: 15px
	height: 13px
	&:after
		color: #fff
		content: ''
		position: absolute
		display: table
		left: 0
		top: 0
		width: 8px
		height: 13px
		border: solid #97c506
		border-width: 0 2px 2px 0
		-webkit-transform: rotate(45deg)
		-ms-transform: rotate(45deg)
		transform: rotate(45deg)
	&-text
		display: inline-block
		padding-left: 15px
		color: #97c506
		font-family: $font-regular
		font-size: 12px

.show-alerts
	cursor: pointer
	display: inline-block
.alerts-part
	display: none
	position: fixed
	top: 15px
	right: 15px
	z-index: 99
	width: 375px
	@media screen and (max-width: 380px)
		width: 290px
	@media screen and (max-width: 360px)
		width: calc(100% - 30px)
.alert
	position: relative
	padding: 15px
	border: 1px solid transparent
	border-radius: 4px
	margin-bottom: 5px
	.close-alert
		cursor: pointer
		float: right
		font-size: 20px
		line-height: 1
		color: #000
		font-weight: 100
.alert-danger
	color: #CD0031
	background-color: #FFD1DC
	border-color: #CD0031
	.alert-mess
		color: #CD0031
		&__link
			color: #CD0031
			&:hover, &:active
				color: #CD0031
.alert-success
	color: #000
	background-color: #fff
	border-color: #000
	.alert-mess
		color: #000
.alert-sales
	color: $template-blue
	background-color: #FFFBE4
	border-color: $template-yellow
	.alert-mess
		color: $template-blue
.alert-mess
	font-size: 13px
	font-family: $font-regular
	display: flex
	align-items: center
	img
		margin-right: 15px
		width: 24px
		height: 24px
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
			width: auto
			max-width: 50px