@import 'vars';

.clist {
  padding: 0;
  margin-left: 0;
  margin-bottom: 28px;
  font-size: 14px;
  &__item {
    padding-left: 40px;
    position: relative;
    margin-bottom: 30px;
    img {
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
    a {
      color: #000;
      font-size: 16px;
    }
  }
}
.form-title {
  font-size: 22px;
  line-height: 1;
  margin-bottom: 10px;
}
.form-text {
  font-size: 15px;
  font-weight: 300;
  color: $text-gray-about;
  margin-bottom: 30px;
  line-height: 1.35;
}
.contact-padding {
  padding-left: 12px;
}
.contact-form {
  input {
    width: 100%;
    margin-bottom: 15px;
    padding: 14px 28px;
  }
  textarea {
    width: 100%;
    height: 88px;
    display: block;
  }
  button{
    border-radius: 4px;
    padding: 14px;
  }
}
.map-block{
  margin-bottom: 36px;
}
#map {
  border-radius: 4px;
  overflow: hidden;
  padding-top: 5px;
  height: 100%;
  margin-right: -15px;
  img {
      height: 100%;
  }
}
.contact-text {
  font-size: 14px;
  p {
    color: #000;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  #map {
    height: 300px;
    margin: 0;
    margin-bottom: 30px;
  }
  .form-title {
    font-size: 18px;
  }
  .contact-padding {
    padding-left: 0;
  }
}