@import '_vars'
.detailed-specifications
    .container
        padding-top: 70px
        padding-bottom: 70px
        border-top: 1px solid #cacaca

.d-s__title
    font-size: 24px
    font-family: $font-medium
    margin-bottom: 15px

.d-s__section
    margin-bottom: 25px

.d-s__list_caption
    display: inline-block
    margin-bottom: 6px

.d-s__li
    display: flex
    justify-content: space-between
    margin-bottom: 15px
    &:last-child
        margin-bottom: 0

.d-s__li_left,
.d-s__li_right
    display: inline-block
    width: 49%
    position: relative
    font-size: 13px

.d-s__li_left
    &:before
        content: ''
        position: absolute
        display: block
        border-bottom: 1px dotted #cacaca
        width: 100%
        height: 100%
        bottom: 4px
    &>*
        background-color: #fff
        position: relative
        display: inline-block
        z-index: 1
        color: #cacaca
        padding-right: 5px

.d-s__show-more
    display: flex
    justify-content: center
    width: 50%

.d-s__show-more_link
    font-size: 15px
    color: $template-blue
    text-decoration: underline      

.d-s__wrapper
    margin-bottom: 40px

@media (max-width: 767px)
    .detailed-specifications .container
        padding-bottom: 0