@import 'vars'

.error-page-section
	padding: 50px 0
	@media screen and (max-width: 767px)
		padding-top: 60px
		padding-bottom: 0
		overflow: hidden
.error-page
	position: relative
	&__title
		font-size: 42px
		font-family: $font-bold
		@media screen and (max-width: 767px)
			font-size: 37px
			max-width: 75%
	&__text
		color: #000
		font-size: 17px
		font-family: $font-regular
		line-height: 20px
		margin-top: 25px
		&:nth-of-type(1)
			max-width: 680px
			@media screen and (max-width: 1289px)
				max-width: 450px
	&:after, &:before
		content: ''
		position: absolute
		display: table
	&:before
		background: url('../img/step-error-page.svg') no-repeat
		background-size: contain
		width: 100%
		max-width: 450px
		height: 315px
		right: 45px
		top: -30px
		transform: rotate(2deg)
		@media screen and (max-width: 1289px)
			top: 22%
			right: 0
		@media screen and (max-width: 767px)
			top: 0
			right: -180px
			transform: rotate(-40deg)
			max-width: 378px
	&:after
		background: url('../img/icon-key.svg') no-repeat
		background-size: contain
		width: 100%
		max-width: 161px
		height: 200px
		right: -75px
		top: 0
		@media screen and (max-width: 1399px)
			right: 0
		@media screen and (max-width: 1289px)
			max-width: 137px
		@media screen and (max-width: 767px)
			max-width: 110px
			height: 137px
			top: -50px