@import 'vars';

body{
  position: relative;
  min-height: 100vh;
}

footer {
  //background: url('../img/bg_footer.jpg');
  //background: url('../img/footer-bg.jpg');
  /* background: url('../img/home/footer-bg-new.svg'); */
  /* color: #fff; */
  padding: 120px 0 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
.footer-application-for-mobile{
  background-color: #f5f5f8;
  padding: 30px 0 0 0;
}
.footer-app__content-wrapper{
  margin-bottom: 40px;
}
.footer-app__title{
  margin-bottom: 16px;
  font-size: 22px;
  display: inline-block;
}
.footer-app__discounts{
  display: flex;
  align-items: center;
  margin-top: 50px;
  @media(max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer-app__discounts__text{
  margin-right: 26px;
  font-size: 22px;
  @media(max-width: 767px) {
    margin-bottom: 14px;
    font-size: 16px;
    width: 50%;
    display: inline-block;
  }
}
.footer-app__btn-notification {
  width: 148px;
  height: 45px;
  background-color: #267ba6;
  border: 1px solid #267ba6;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  border-radius: 0;
  &:after{
    content: '';
    display: block;
    position: absolute;
    transform: translateY(-45%);
    top: 50%;
    right: -8px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #cd0031;
    border: 3px solid rgba(245,245,248,1);
  }
}
.footer-app__btn-notification__text{
  text-align: left;
  margin-left: 12px;
  font-size: 14px;
}
.footer-app__discounts__arrow{
  position: absolute;
  right: -104px;
  bottom: 20px;
  width: 56%;
  transform: rotate(6deg);
  @media(max-width: 1289px) {
    display: none;
  }
}

.footer-nav{
  @media(max-width: 767px) {
    padding-top: 20px;
  }
}
.footer-nav__logo{
  height: 48px;
  margin-bottom: 6px;
  img{
    height: 100%;
  }
}
.footer-nav__title{
  font-size: 18px;
  margin-bottom: 15px;
  display: inline-block;
}
.footer-nav__col{
  padding: 35px 0;
  @media(max-width: 767px) {
    padding: 15px 0;
  }
}
.footer-nav__item{
  margin-bottom: 15px;
}
.footer-nav__link{
  color: #4c4c4c;
  &:hover{
    color: #000;
    text-decoration: underline;
  }
  @media(max-width: 991px) {
    font-size: 14px;
  }
}
.footer-bottom{
  background-color: #f5f5f8;
  padding: 36px 0;
}
.footer-app__img-wrapper{
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  @media(max-width: 767px) {
    height: auto;
    margin-top: 60px;
    justify-content: flex-end;
    .footer-app__img-phone{
      //position: relative;
      width: 200px;
    }
  }
  @media(max-width: 400px) {
    margin-top: 30px;
    .footer-app__img-phone{
      width: 160px;
    }
  }
  @media(max-width: 350px) {
    margin-top: 20px;
    .footer-app__img-phone{
      width: 126px;
    }
  }
}
.footer-app__img-phone{
  position: absolute;
  bottom: 0;
}
.footer-figures{
  position: absolute;
  left: 0;
  @media(max-width: 1289px) {
    display: none;
  }
}
.footer-figures2{
  position: absolute;
  right: 0;
  top: 22%;
  @media(max-width: 1289px) {
    display: none;
  }
}

.footer-nav__copyright{
  line-height: 1;
  color: #000;
}

.footer-bottom__social-wrapper {
  display: flex;
  align-items: center;
  @media(max-width: 991px) {
    margin-top: 20px;
  }
  @media(max-width: 480px) {
    align-items: center;
    justify-content: space-between;
  }
}
.footer-bottom__social-text{
  @media(max-width: 767px) {
    font-size: 14px;
  }
}
.footer-bottom__social-icons {
  display: flex;
}
.footer-bottom__social-icon {
  width: 26px;
  height: 26px;
  margin-left: 15px;
  img{
    width: inherit;
    height: inherit;
  }
}
.footer-service-improvement-proposal{
  margin-top: 2px;
  p{
    color: #000;
    font-size: 16px;
  }
  @media(max-width: 767px) {
    p{
      font-size: 14px;
    }
  }
}
.footer-service-improvement-proposal__number-phone {
  color: #267ba6;
  display: inline-block;
  text-decoration: none;
}

.about-me {
  position: relative;
  padding-left: 93px;
  padding-right: 60px;
  font-size: 13px;
  font-family: $font-regular;
  margin-bottom: 28px;
  &__avatar {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    overflow: hidden;
    font-size: 0;
    text-align: center;
  }
  &__title {
    font-size: 14px;
    margin-bottom: 19px;
  }
  &__text {
    line-height: 1.25;
    padding: 3px 0;
    max-height: 180px;
    p {
      margin-bottom: 12px;
      color: #fff;
      font-size: 13px;
    }
  }
}

.autograph {
  font-size: 13px;
  display: flex;
  line-height: 1.2;
  max-width: 480px;
  align-items: center;
  &-footer {
    padding-left: 93px;
  }
  i {
    font-family: $font-light-italic;
  }
  &__text {
    width: 80%;
    p {
      margin-bottom: 10px;
      color: #fff;
      font-size: 13px;
    }
  }
}

.footer {
  &-logo {
    margin-bottom: 13px;
    img {
      max-width: 101px;
    }
  }
  &-menu {
    font-size: 13px;
    li {
      display: block;
      margin-bottom: 14px;
      a {
        color: #fff;
        text-decoration: underline;
        &:hover {
          opacity: 0.6;
          text-decoration: none;
        }
      }
    }
  }
}

.smart-title {
  margin-bottom: 14px;
  font-size: 14px;
  font-family: $font-regular;
  letter-spacing: -0.2px;
}
.smart-sale,
.helper-smart-sale,
//add for example to modals.html
.modal-link {
  cursor: pointer;
  display: inline-block;
  background-color: #fff;
  padding: 8px 19px;
  border: 2px solid transparent;
  font-size: 13px;
  font-family: $font-medium;
  color: $template-red;
  border-radius: 4px;
  margin-bottom: 35px;
  img {
    vertical-align: middle;
    width: 17px;
    height: 18.77px;
    margin-right: 13px;
  }
  &:hover{
    border-color: $template-yellow;
  }
}

.socials {
  font-size: 14px;
  font-family: $font-regular;
  &__list {
    display: flex;
    li {
      margin-right: 18px;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      display: block;
      background-color: #fff;
      border: 2px solid #fff;
      width: 37px;
      height: 37px;
      color: $template-blue;
      border-radius: 50%;
      text-align: center;
      font-size: 18px;
      padding: 8px;
      &.socials-fab {
        padding-left: 6px;
      }
      &:hover {
        background-color: $template-blue;
        border: 2px solid #fff;
        color: #fff;
      }
    }
    &-transparent {
      a {
        background-color: transparent;
        border-color: $template-blue;
        &:hover {
          border-color: transparent
        }
      }
    }
  }
}

.mCSB_scrollTools {
  width: 6px;
  .mCSB_draggerRail {
    width: 1px;
    background-color: $scroll-line;
  }
  .mCSB_dragger {
    width: 6px;
    background-color: #fff;
    border-radius: 10px;
  }
}

@media (max-width: 991px) {
  .pos-md-1 {
    order: 1;
  }
  .pos-md-2 {
    order: 2;
  }
  .pos-md-3 {
    order: 3;
  }
  .smart-title {
    display: none;
  }
  .footer {
    &-logo {
      display: none;
    }
    &-socials {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
    }
    &-menu {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
    }
  }
  .about-me {
    padding-right: 0;
  }
  .autograph {
    margin-bottom: 30px;
  }
  .smart-sale {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .autograph {
    display: none;
  }
  .about-me {
    display: none;
  }
  .pos-1 {
    order: 1;
  }
  .pos-2 {
    order: 2;
  }
  .footer {
    &-logo {
      display: block;
    }
    &-menu {
      display: block;
      margin-bottom: 30px;
    }
    &-socials {
      margin-bottom: 0;
    }
  }
  footer {
    padding: 20px 0 0;
  }
}