@import 'vars'

.header
	//background: url('../img/header-bg.png') no-repeat center / cover
	background: url('../img/header-bg.jpg') no-repeat center / cover
	padding-top: 1rem
	//padding-bottom: 29px
	@media screen and (max-width: 1289px)
		padding-top: 15px
		padding-bottom: 12px
	.twitter-typeahead
		max-width: 301px
		transform: translateY(-9px)
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
			transform: translateY(0)
		@media screen and (max-width: 1289px)
			transform: translateY(0)
		@media screen and (max-width: 767px)
			display: none
.header-logo
	display: flex
	img
		@media screen and (max-width: 991px)
			max-width: 120px
		@media screen and (max-width: 767px)
			max-width: 88px
			height: 28px
			
.header
	//.header-list
	//.header-list
	//	&-wrapper
	//		@media screen and (max-width: 767px)
	//			height: calc(100vh - 64px)
	//			top: 64px
	.container
		&:after
			content: ''
			position: absolute
			right: 0
			top: 0
			width: 100%
			height: 71px
			z-index: -1
		&.z-active
			&:after
				z-index: 1
	.header-logo
		@media screen and (max-width: 991px)
			margin-right: auto
	.header-part
		@media screen and (max-width: 991px)
			justify-content: flex-end
		@media screen and (max-width: 767px)
			justify-content: flex-start
	.header-authorise
		@media screen and (max-width: 991px)
			display: flex
			justify-self: flex-end
			margin-left: 0
			justify-content: flex-end
			min-width: 67px
			padding-right: 15px
		@media screen and (max-width: 767px)
			order: 3
		@media screen and (max-width: 500px)
			margin-left: 0
	.header-filter
		@media screen and (max-width: 991px)
			margin: 0
		@media screen and (max-width: 767px)
			order: 0
			display: inline-block !important
			margin-right: 35px
	span.twitter-typeahead
		@media screen and (max-width: 991px)
			width: auto
	.header-search
		position: relative
		@media screen and (max-width: 991px)
			transform: unset
			&__input_icon
				right: 15px
		@media screen and (max-width: 767px)
			margin-right: 0
			order: 1
			margin-left: 0
			min-width: 16px
		&.active
			z-index: 100
			@media screen and (max-width: 767px)
				position: absolute
				right: 66px
			@media screen and (max-width: 575px)
				position: absolute
				right: 67px
			@media screen and (max-width: 375px)
				.header-search__input
					width: 300px
					max-width: 280px
			@media screen and (max-width: 359px)
				.header-search__input
					max-width: 220px


.filter-disabled
	.header-filter
		pointer-events: none
		opacity: 0
		
.home-header
	.header-search
		opacity: 0
		z-index: -1
		pointer-events: none
		
.header-part
	display: flex
	align-items: flex-start
	justify-content: space-between
	position: relative
	z-index: 3
	@media screen and (max-width: 1289px)
		align-items: center
		padding-left: 20px
		padding-right: 0
	@media screen and (max-width: 575px)
		min-height: 34px
	&.helper-modal-active
		z-index: auto
		.header-authorise-mobile
			z-index: 10000
			position: relative
			&:after
				content: ''
				border-radius: 8px
				border: 4px solid $template-yellow
				display: block
				width: 100%
				height: 100%
				position: absolute
				top: -9px
				left: 0
				padding: 15px 10px

.header-nav, .header-part
	flex: 0 0 100%

.header-nav
	@media screen and (max-width: 1289px)
		flex: 0 0 65px
		max-width: 65px
		order: -1
		display: flex
		align-items: center
		justify-content: flex-start
		padding-left: 19px
		padding-right: 15px
	@media screen and (max-width: 767px)
		padding-left: 15px
		flex: 0 0 45px
		max-width: 45px

.header-part
	@media screen and (max-width: 1289px)
		flex: 0 0 calc(100% - 65px)
		max-width: calc(100% - 65px)
	@media screen and (max-width: 767px)
		flex: 0 0 calc(100% - 45px)
		max-width: calc(100% - 45px)
		
.header-search, .header-filter
	transform: translateY(2px) translateX(30px)
	@media screen and (max-width: 1289px)
		transform: unset
		position: relative
	@media screen and (max-width: 991px)
		transform: translateX(12px)
	@media screen and (max-width: 767px)
		transform: unset
		justify-self: flex-end
		margin-left: auto
		margin-right: 15px
	&__input
		//background: #fff url('../img/icon_search.svg') no-repeat 95% center
		-webkit-border-radius: 4px
		-moz-border-radius: 4px
		border-radius: 4px
		border: none
		height: 34px
		width: 301px
		padding: 5px 1rem
	&__link
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16)
		border-radius: 4px
		background-color: #00a5f1
		display: inline-block
		padding: 11px 26px
		color: #ffffff
		font-family: $font-regular
		font-size: 13px
		font-weight: 500
		transform: translateY(-1px)
		&:hover
			background-color: #ffffff
			color: #00a5f1
		@media screen and (max-width: 1289px)
			display: none
.header-search
	@media screen and (max-width: 991px)
		min-height: 34px
	&__input
		display: inline-block
		@media screen and (max-width: 767px)
			display: none
			margin-left: 15px
			width: 279px
			top: 50%
		&_icon
			cursor: pointer
			background: url('../img/icons/search.svg') no-repeat
			-webkit-background-size: contain
			background-size: contain
			width: 16px
			height: 16px
			display: inline-block
			position: absolute
			right: 27%
			top: 22%
			@media screen and (max-width: 1289px)
				right: 5%
				top: 24%
			//@media screen and (max-width: 991px)
			//	top: 50%
			//	right: -131.5px
			//	transform: translateY(-50%)
			//	filter: brightness(0) invert(1)
			@media screen and (max-width: 767px)
				right: 0
				filter: brightness(0) invert(1)
	@media screen and (max-width: 767px)
		&.active
			margin-right: 0
			.header-search__input
				display: inline-block
			.header-search__input_icon
				right: 15px
	@media screen and (max-width: 575px)
		&.active
			text-align: right
			position: absolute
			right: 55px
			.header-search__input
				margin-left: 0
				width: 290px
				box-shadow: 0 0 6px rgba(0, 0, 0, 0.16)
	@media screen and (max-width: 359px)
		&.active
			.header-search__input
				width: 250px
.header-filter
	cursor: pointer
	display: none
	position: relative
	z-index: 1
	@media screen and (max-width: 991px)
		display: inline-block
		margin-left: 15px
		margin-right: auto
		justify-self: flex-start
	@media screen and (max-width: 767px)
		margin-left: 5px
	a
    display: inline-block
    border: 2px solid transparent
    width: 37px
    height: 37px
    color: #267BA6
    border-radius: 50%
    text-align: center
    font-size: 18px
    padding: 8px
	&.active
		a
			border: 2px solid #fff
			background-color: #fff
			.icon-filter
				background: url('../img/icons/filter-hover.svg')
				background-size: contain
		

.header-authorise
	@media screen and (max-width: 1289px)
		min-width: 215.42px
	@media screen and (max-width: 991px)
		min-width: 150px
	@media screen and (max-width: 767px)
		min-width: 54px
	&-mobile
		display: none
		@media screen and (max-width: 1289px)
			display: flex
			align-items: center
			justify-content: flex-end
			padding-right: 1rem
			padding-left: 1rem
		@media screen and (max-width: 767px)
			display: flex !important
		img
			filter: brightness(0) invert(1)
			cursor: pointer
	&-desktop
		display: flex
		align-items: center
		justify-content: flex-start
		padding-top: 0.5rem
		@media screen and (max-width: 1289px)
			display: none
			padding-top: 0
			padding-right: 0
			span
				font-size: 12px
		@media screen and (max-width: 767px)
			display: none !important
	&__link
		color: #ffffff
		display: flex
		align-items: center
		text-decoration: underline
		&:hover
			text-decoration: none
		img
			width: 25px
			height: 25px
		img.login-active-img
			width: 19px
			height: 19px
			@media screen and (max-width: 991px)
				width: 25px
				height: 25px
		span
			display: inline-block
			font-size: 13px
			font-weight: 300
			margin-left: 10px
		&.registration
			margin-left: 25px
			@media screen and (max-width: 991px)
				margin-left: 15px
				span
					display: none
		&.login
			@media screen and (max-width: 991px)
				span
					display: none
		&.registration-logout
			@media screen and (max-width: 1289px)
				margin-left: 15px
							


.header-list
	display: flex
	justify-content: space-between
	align-items: center
	flex-wrap: nowrap
	margin-top: 2rem
	position: relative
	padding: 0
	@media screen and (max-width: 1289px)
		flex-wrap: wrap
		margin: 0 auto
		padding: 0 16px
	@media screen and (max-width: 767px)
		padding: 0 16px
	&-wrapper
		@media screen and (max-width: 1289px)
			//background: #fff url("../img/header-bg.png") no-repeat top/100% 100px
		  //background: #fff url("../img/header-bg.png") no-repeat top/980px
			background: $template-blue
			color: #000
			position: fixed
			left: -100%
			top: 0
			height: 100%
			min-height: 100vh
			z-index: 12
			margin: 0
			width: 100%
			max-width: 385px
			padding: 20px 0
			// overflow-y: scroll
			transition: all 0.3s ease-in-out
			box-shadow: 2px 0 6px rgba(51,51,51,.26)
			&.active
				left: 0
				overflow-y: scroll
		@media screen and (max-width: 580px)
			max-width: 80%
			//background: #fff url("../img/header-bg.png") no-repeat top/100% 145px
			//top: 59px
			//height: calc(100vh - 59px)
			//overflow-y: scroll
	&__item
		padding-right: 20px
		@media screen and (max-width: 767px)
			padding-right: 0
		&:after
			content: ''
			display: table
			background-color: #fff
			height: 4px
			width: 0
			-webkit-border-radius: 4px
			-moz-border-radius: 4px
			border-radius: 4px
			opacity: 0
			transition: all 0.3s linear
			transform: translateY(-20px)
		@media screen and (max-width: 1289px)
			padding-bottom: 0
			flex: 0 0 100%
			max-width: 100%
		@media screen and (min-width: 1290px)
			&:hover
				&:after
					opacity: 1
					width: 100%
				.sub-nav
					display: block
					opacity: 1
					z-index: 11
				.menu-categories-wrapper
					display: flex
		&_promocodes, &_rating
			&:after
				transform: translateY(-20px) translateX(15px)
			@media screen and (min-width: 1290px)
				&:hover
					&:after
						background-color: $template-yellow
						opacity: 1
						width: calc(100% - 15px)
		&_promocodes
			@media screen and (max-width: 1289px)
				margin-top: 15px
			@media screen and (max-width: 767px)
				display: none
				margin-top: 0
		&_rating
			@media screen and (max-width: 1289px)
				margin-top: 0
			@media screen and (max-width: 767px)
				margin-top: 15px
		&_last
			justify-self: flex-end
			margin-left: auto
			padding-right: 0
			.header-list__link
				font-size: 12px
				text-decoration: underline
				&:hover
					text-decoration: none
				@media screen and (min-width: 1290px)
					font-size: 13px
					font-family: $font-medium
			&:hover
				&:after
					opacity: 0
	&__link
		color: #ffffff
		font-size: 14px
		font-weight: 100
		font-family: $font-regular
		display: block
		position: relative
		padding-bottom: 25px
		@media screen and (max-width: 1289px)
			color: #fff
			font-family: $font-medium
			font-size: 17px
			&:hover
				text-decoration: underline
		@media screen and (max-width: 580px)
			font-size: 15px
		i
			display: none
			@media screen and (max-width: 1289px)
				display: inline-block
				font-size: 14px
				margin-left: 12px
		&_yellow
			color: $template-yellow
			padding-left: 14px
			//&:hover
			//	color: $template-yellow
			&:after
				background-color: $template-yellow
			&:before
				content: ''
				position: absolute
				left: 0
				top: 5px
				background-color: $template-yellow
				-webkit-border-radius: 50px
				-moz-border-radius: 50px
				border-radius: 50px
				width: 6px
				height: 6px
				@media screen and (max-width: 580px)
					top: 3px
			// @media screen and (max-width: 1289px)
			// 	color: #000
			// 	&:before
			// 		background-color: #000
		img
			margin-right: 5px
	.header-list-close
		display: none
		position: relative
		i, svg
			width: 10px
			cursor: pointer
			&:hover
				opacity: 0.6
		@media screen and (max-width: 1289px)
			display: block
			text-align: right
			color: #fff
			font-size: 14px
			width: 100%
			margin-bottom: 15px
		@media screen and (max-width: 767px)
			position: absolute
			right: 15px
			top: 0
			margin-bottom: 0
			width: auto

.region-item
	display: none
	@media screen and (max-width: 1289px)
		display: flex
		flex: 0 0 auto
		max-width: 30%
		.header-region
			position: static
			display: flex
			padding-bottom: 25px
			font-size: 13px
	@media screen and (max-width: 767px)
		display: flex
		flex: 0 0 100%
		max-width: 100%
		.header-region
			position: static
			display: flex
			padding-bottom: 25px
			font-size: 13px
.login-item, .registre-item
	display: none
	@media screen and (max-width: 1289px)
		display: flex
		flex: 0 0 auto
		max-width: 30%
	@media screen and (max-width: 767px)
		display: flex
		flex: 0 0 50%
		max-width: 50%
		//flex: 0 0 33%
		//max-width: 33%
	a
		color: #fff
		font-size: 13px
		font-family: $font-light
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		text-decoration: underline
		&:hover
			text-decoration: none
		@media screen and (max-width: 767px)
			font-size: 12px
.registre-item
	@media screen and (max-width: 767px)
		padding-right: 0
		padding-left: 5px
.burger-padding
	padding: 15px 0
	@media screen and (max-width: 1289px)
		padding: 10px 0
.burger
	cursor: pointer
	flex: 0 0 100%
	max-width: 100%
	display: none
	height: 100%
	@media screen and (max-width: 1289px)
		display: flex
		align-items: center
		justify-content: flex-start
		flex-wrap: wrap
	@media screen and (max-width: 767px)
		flex: 0 0 100% !important
		max-width: 100% !important
	&__line
		background-color: #fff
		flex: 0 0 100%
		max-width: 100%
		height: 2px
		transition: all 0.3s linear
		&:first-child
			transform: translateY(8px)
			@media screen and (max-width: 767px)
				transform: translateY(7px)
		&:last-child
			flex: 0 0 50%
			max-width: 50%
			margin-top: 6px
			transform: translateY(-8px)
			@media screen and (max-width: 767px)
				transform: translateY(-7px)
				
.sub-nav
	background-color: #fff
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.1)
	border-radius: 0 0 4px 4px
	display: none
	opacity: 0
	position: absolute
	top: 100%
	left: 0
	width: 1200px
	padding: 20px 30px
	z-index: -1
	// transition: all 1s linear
	@media screen and (max-width: 1289px)
		width: 100%
	@media screen and (max-width: 767px)
		max-width: 385px
	@media screen and (max-width: 580px)
		max-width: 80%
	&.active
		padding: 20px 0 85px
		@media screen and (max-width: 1289px)
			opacity: 1
			z-index: 12
			display: block
			position: fixed
			width: 100%
			height: 100%
			top: 0
			overflow-y: scroll
			overflow-x: hidden
			.sub-list-wrapper
				flex: 0 0 100%
				max-width: 100%
				position: relative
			.sub-list
				flex: 0 0 50%
				max-width: 50%
				//&:nth-last-child(2)
				//	flex: 0 0 100%
				//	max-width: 100%
				&__item.first
					margin-bottom: 20px
					@media screen and (max-width: 767px)
						color: #fff
			.adw
				display: none
				padding-left: 0
				position: absolute
				right: 0
				bottom: 15px
				width: 50%
				max-width: 50%
				img
					width: auto
			.container
				position: relative
				&:after
					content: ''
					clear: both
					display: block
		@media screen and (max-width: 767px)
			background-color: $template-blue
			top: 0
			.adw
				display: none
			.sub-list
				min-height: 1px
				flex: 0 0 100%
				max-width: 100%
				margin-bottom: 10px
				&:last-child
					margin-bottom: 0
				&__link
					font-size: 17px
					font-family: $font-light
					line-height: 36px
					// color: #8e8e93
					color: #fff
					display: block
					&.all-categories
						color: #fff
					&_first
						color: #fff
						font-size: 19px
						display: block
						line-height: 1 
				&__item
					display: none
					padding-left: 20px
					i
						display: inline-block
						margin-left: 10px
						font-size: 12px
						transition: all 0.3s linear
						transform: translateY(-1px)
						&.rotate-icon
							transform: rotate(90deg)
				.first
					display: block
					margin-bottom: 0
					font-family: $font-light
					font-size: 19px
					padding-left: 0
	&.menu-rating-wrapper
		background: #F5F5F8
		&.active
			.all-categories
				@media screen and (max-width: 767px)
					color: $template-blue
.sub-list
	flex: 0 0 30%
	max-width: 30%
	position: relative
	min-height: 190px
	margin-bottom: 25px
	@media screen and (max-width: 1289px)
		min-height: 1px
	&__item
		color: #000000
		font-family: $font-bold
		font-size: 17px
		letter-spacing: -0.44px
		line-height: 24px
		// @media screen and (min-width: 768px)
		// 	&:not(:first-child)
		// 		display: list-item !important
		i
			display: none
		&.first
			@media screen and (max-width: 1289px)
				cursor: pointer
	&__link
		cursor: pointer
		color: #000000
		font-family: $font-regular
		font-size: 13px
		letter-spacing: -0.14px
		line-height: 23px
		display: block
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		&:hover
			text-decoration: underline
		&_first
			color: #000000
			cursor: auto
			font-family: $font-bold
			font-size: 17px
			letter-spacing: -0.44px
			line-height: 24px
			text-decoration: none
			&:hover
				text-decoration: none
			@media screen and (max-width: 1289px)
				display: inline-block
				line-height: 1
		@media screen and (max-width: 1289px)
			display: inline-block
			line-height: 1
		&.all-categories
			color: #267ba6
			font-family: $font-regular
			font-size: 13px
			letter-spacing: -0.08px
			line-height: 18px
			@media screen and (max-width: 767px)
				color: #267ba6
			img
				margin-left: 15px
.sub-list-wrapper
	float: left
	width: 100%
	max-width: calc(100% - 242px)
	display: flex
	flex-wrap: wrap
	// justify-content: space-between
	justify-content: flex-start
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
		width: calc(100% - 242px)
.adw
	float: left
	max-width: 242px
	padding-left: 1rem
	img
		width: 100%
	
		
.menu-categories
	@media screen and (max-width: 1289px)
		padding-top: 16px
	@media screen and (max-width: 767px)
		display: inline-block
	&__title
		color: #108cc5
		font-family: $font-bold
		font-size: 16px
		line-height: 25px
		margin-bottom: 15px
		&:nth-of-type(2)
			margin-top: 10px
	&__item
		padding: 10px 0
		@media screen and (max-width: 1289px)
			padding: 0
			margin-bottom: 15px
		&.active
			display: block
			.menu-categories__link
				border-bottom: 2px dotted transparent
				color: #000
				~ i
					opacity: 1
	&__link
		border-bottom: 2px dotted #c7c7c9
		color: #c7c7c9
		display: inline-block
		font-family: $font-regular
		font-size: 14px
		line-height: 18px
		~ i
			opacity: 0
			font-size: 12px
			margin-left: 15px
			transform: translateY(.5px)
		&:hover
			border-bottom: 2px dotted transparent
			color: #000
			~ i
				opacity: 1
	&-wrapper
		background-color: #F5F5F8
		padding: 0
		display: none
		flex-direction: row
		&:after
			content: ''
			display: table
		&.active
			@media screen and (max-width: 1289px)
				overflow-y: scroll
				padding: 0
				.menu-categories__title
					margin-bottom: 0
				.link-back-wrapper
					background: #f5f5f8
					padding: 16px
					margin-bottom: 0
		.container
			padding: 0
			flex-direction: row
			display: flex
			flex-wrap: wrap
	&-sidebar
		background-color: #f5f5f8
		flex: 0 0 260px
		max-width: 260px
		padding: 20px 30px
		@media screen and (max-width: 1289px)
			padding-left: 15px
			padding-right: 15px
			flex: 0 0 230px
			max-width: 230px
		@media screen and (max-width: 767px)
			flex: 0 0 100%
			max-width: 100%
	&-content
		background-color: #fff
		flex: 0 0 calc(100% - 260px)
		max-width: calc(100% - 260px)
		padding: 20px 30px
		@media screen and (max-width: 1289px)
			padding-left: 30px
			padding-right: 0
			padding-bottom: 100px
			flex: 0 0 calc(100% - 230px)
			max-width: calc(100% - 230px)
		@media screen and (max-width: 767px)
			flex: 0 0 100%
			max-width: 100%
			padding: 0 15px
		.tab-content
			display: none
			padding-top: 20px
		@media screen and (max-width: 1289px)
			padding-top: 0



.magazines-list
	display: flex
	flex-wrap: wrap
	//justify-content: flex-start
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
		width: 100%
		max-width: 880px
	@media screen and (max-width: 1289px)
		padding-top: 16px
	@media screen and (max-width: 767px)
		justify-content: space-between
	li
		max-width: 110px
		flex: 0 0 110px
		box-shadow: 0 0 14px rgba(0, 0, 0, 0.1)
		border-radius: 4px
		display: flex
		justify-content: center
		align-items: center
		margin-bottom: 10px
		margin-right: 10px
		padding: 10px
		&:nth-child(7n)
			margin-right: 0
		@media screen and (max-width: 1289px)
			&:nth-child(7n)
				margin-right: 15px
			margin-right: 15px
			margin-bottom: 15px
			max-width: 21%
			flex: 0 0 21%
			min-height: 90px
			&:nth-child(4n)
				margin-right: 16px
		@media screen and (max-width: 767px)
			flex: 0 0 48%
			max-width: 48%
			margin-right: 0
			&:nth-child(4n)
				margin-right: 0
			&:nth-child(7n)
				margin-right: 0
		@media screen and (max-width: 360px)
			flex: 0 0 100%
			max-width: 100%
		img
			width: 100%
			@media screen and (max-width: 1289px)
				width: auto
				max-width: 100%
	a
		font-size: 0

.promocode-list
	display: flex
	@media screen and (max-width: 1289px)
		flex-wrap: wrap
		padding-top: 16px
	@media screen and (max-width: 767px)
		padding-bottom: 75px
	li
		margin-right: 10px
		flex: 0 0 15%
		max-width: 15%
		&:last-child
			margin-right: 0
		@media screen and (max-width: 1289px)
			flex: 0 0 144px
			max-width: 144px
			margin-right: 16px
			margin-bottom: 16px
		@media screen and (max-width: 767px)
			flex: 0 0 50%
			max-width: 50%
			margin-right: 0
			.promocode
				width: 144px
				margin: 0 auto
		@media screen and (max-width: 360px)
			flex: 0 0 100%
			max-width: 100%

			
.menu-rating-wrapper
	background-color: $template-gray
	.all-categories
		display: inline-block
		margin-top: 10px
	.container
		padding: 0
		@media screen and (max-width: 1289px)
			padding: 0 16px
.rating-list
	display: flex
	justify-content: flex-start
	align-items: center
	flex-wrap: wrap
	@media screen and (max-width: 1289px)
		justify-content: flex-start
	&-info
		color: #989898
		font-family: $font-regular
		font-size: 12px
	&__likes, &__comments
		float: left
	&__likes
		&:after
			content: '/'
			margin-left: 5px
			margin-right: 5px
			display: inline-block
	&__text
		text-overflow: ellipsis
		overflow: hidden
		max-height: 35px
		max-width: 185px
		color: #000
		margin-bottom: 15px
		@-moz-document url-prefix()
			max-height: 37px
	&__image
		width: 100%
		object-fit: cover
	li
		background-color: #fff
		box-shadow: 0 0 14px rgba(0, 0, 0, 0.1)
		border-radius: 4px
		flex: 0 0 215px
		max-width: 215px
		height: 114px
		margin-right: 10px
		margin-bottom: 10px
		overflow: hidden
		position: relative
		&:after
			background: transparent
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			transition: all 0.3s linear
			z-index: 1
		&:hover
			cursor: pointer
			.rating-list__text
				text-decoration: underline
		@media screen and (max-width: 1289px)
			flex: 0 0 32%
			max-width: 32%
			height: 119px
			margin-right: 0
			&:nth-of-type(3n-1)
				margin-left: 2%
				margin-right: 2%
		@media screen and (max-width: 767px)
			//flex: 0 0 49%
			//max-width: 49%
			//&:nth-of-type(3n-1)
			//	margin-left: 0
			//	margin-right: 0
			//&:nth-of-type(odd)
			//	margin-right: 1%
			//&:nth-of-type(even)
			//	margin-left: 1%
			flex: 0 0 280px
			max-width: 280px
			margin: 5px auto
			&:nth-of-type(3n-1)
				margin-left: auto
				margin-right: auto
			&:nth-of-type(odd)
				margin-right: auto
			&:nth-of-type(even)
				margin-left: auto
		@media screen and (max-width: 650px)
			flex: 0 0 280px
			max-width: 280px
			margin: 5px auto
			&:nth-of-type(3n-1)
				margin-left: auto
				margin-right: auto
			&:nth-of-type(odd)
				margin-right: auto
			&:nth-of-type(even)
				margin-left: auto
		@media screen and (max-width: 580px)
			flex: 0 0 100%
			max-width: 100%
		.rating-list-content
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			display: flex
			flex-direction: column
			flex-wrap: wrap
			justify-content: flex-end
			padding: 15px
	li.rating-list_bg
		&:after
			//background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.27) 43%, rgba(0, 0, 0, 0.47) 100%)
			//background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.82) 100%)
			background: rgba(0,0,0,0.5)
			z-index: 1
		//&:hover
		//	.rating-list__text, .rating-list-info
		//		z-index: 1
		//	.rating-list__text
		//		text-decoration: underline
		//	&:after
		//		background: -moz-linear-gradient(top, rgba(255,255,255,0.49) 0%, rgba(0,0,0,0.74) 100%) /* FF3.6-15 */
		//		background: -webkit-linear-gradient(top, rgba(255,255,255,0.49) 0%,rgba(0,0,0,0.74) 100%) /* Chrome10-25,Safari5.1-6 */
		//		background: linear-gradient(to bottom, rgba(255,255,255,0.49) 0%,rgba(0,0,0,0.74) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		//		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dffffff', endColorstr='#bd000000',GradientType=0 )
		.rating-list__text, .rating-list__likes, .rating-list__comments
			color: #fff
		.rating-list__text, .rating-list-info
			z-index: 2
			position: relative

.rotate-line
	&_first
		height: 2px
		transform: rotate(45deg) translate(1px, 1px) !important
	&_last
		height: 2px
		transform: rotate(-45deg) !important
		margin-top: 0 !important
		flex: 0 0 100% !important
		max-width: 100% !important
		@media screen and (max-width: 767px)
			transform: rotate(-45deg) !important

.link-back
	color: #108cc5
	font-family: $font-regular
	font-size: 15px
	text-decoration: underline
	&:hover
		text-decoration: none
	img
		margin-right: 15px
		transform: rotate(180deg)
	&-wrapper
		display: none
		flex: 0 0 100%
		max-width: 100%
		margin-bottom: 25px
		@media screen and (max-width: 1289px)
			display: block

//.filter-main
//	background-color: #fff
//	position: fixed
//	top: 71px
//	left: 0
//	height: calc(100vh - 71px)
//	padding: 15px
//	width: 100%
//	z-index: 7
//	display: none
//	overflow-y: scroll
//	&.active
//		display: block
//	&__title
//		font-size: 27px
//		font-family: $font-medium
//	.container
//		// padding: 0
//		@media screen and (max-width: 767px)
//			padding: 0 15px
//	.catalog-filter
//		border: none
//		padding: 0


.filter-icon-white
	filter: brightness(0) invert(1)

.filter-icon-unwhite
	filter: none
	&:after
		filter: none
		content: ''
		cursor: pointer
		background: url(../img/icons/icon-search-header-new.svg) no-repeat
		background-size: contain
		width: 40px
		height: 28px
		display: inline-block
		position: relative
		top: -5px
		left: -15px
	//filter: none
	//-webkit-border-radius: 4px
	//-moz-border-radius: 4px
	//border-radius: 4px
	//&:after
	//	content: ''
	//	position: absolute
	//	width: 140%
	//	height: 140%
	//	/* background-color: #cd0031; *
	//	border: 1px solid #cd0031
	//	border-radius: 4px
	//	top: -3px
	//	left: -3px
		
	
.header-region
	height: 100%
	display: flex
	align-items: center
	color: #ffffff
	font-family: $font-light
	font-size: 16px
	position: absolute
	left: 170px
	text-decoration: underline
	white-space: nowrap
	max-width: 115px
	text-overflow: ellipsis
	overflow: hidden
	&:hover
		text-decoration: none
	@media screen and (max-width: 767px)
		display: none
.modal-region
	&__title
		padding: 15px 0
	&__input
		width: 100%
		margin-bottom: 5px
	&__more
		font-size: 14px
		color: #8E8E93
		margin-top: 15px
		display: inline-block
		&:hover
			text-decoration: underline
.region-list
	margin-bottom: 15px
	display: flex
	justify-content: flex-start
	flex-wrap: wrap
	&__item
		padding: 15px 15px 0 0
	&__link
		color: #000
		display: block
		font-size: 13px
		&:hover
			text-decoration: underline

.sub-list-wrapper
	@media screen and (max-width: 767px)
		.link-back
			color: #ffffff
		img
			filter: brightness(0) invert(1)

.menu-rating-wrapper
	.rating-list__text
		max-height: 47px
		margin-bottom: 0
		@-moz-document url-prefix()
			max-height: 60px
	.rating-list-info
		display: none