@import 'vars'

.profitable-cost-section
	padding-bottom: 72px
	@media screen and (max-width: 767px)
		padding-bottom: 50px
.profitable-cost
	max-width: 663px
	margin: auto
	text-align: center
	padding-top: 11px
	&__title
		padding-top: 47px
		@media screen and (max-width: 767px)
			padding-top: 0
		br
			display: none
			@media screen and (max-width: 767px)
				display: block
		h1
			font-size: 32px
			font-family: $font-light
			margin-bottom: 20px
			@media screen and (max-width: 767px)
				font-size: 28px
		&_mini
			color: #000
			font-size: 19px
			font-family: $font-regular
			&_red
				color: #cd0031
				@media screen and (max-width: 767px)
					display: block
					text-align: center
			&_blue
				color: #267BA6
				@media screen and (max-width: 767px)
					display: block
					max-width: 220px
					margin: auto
	.follow
		flex-direction: column
		padding: 0
		@media screen and (max-width: 767px)
			display: flex
		&__col
			padding-top: 7px
			a
				font-size: 17px
				font-family: $font-bold
			p
				font-size: 14px
				font-family: $font-regular
.profitable-icons
	display: flex
	justify-content: space-between
	align-items: center
	flex-wrap: wrap
	padding-top: 72px
	padding-left: 15px
	padding-right: 15px
	@media screen and (max-width: 991px) and (min-width: 768px)
		padding-left: 0
		padding-right: 0
	@media screen and (max-width: 767px)
		padding-top: 50px
	&__item
		display: flex
		align-items: center
		&:nth-child(2)
			.profitable-icons__text
				flex: 0 0 270px
				max-width: 270px
				@media screen and (max-width: 1289px)
					flex: 0 0 195px
					max-width: 195px
				@media screen and (max-width: 767px)
					flex: 0 0 calc(100% - 75px)
					max-width: calc(100% - 75px)
			img
				@media screen and (max-width: 991px)
					max-width: 45px
				@media screen and (max-width: 767px)
					max-width: 47px
					max-height: 48px
		&:nth-child(1)
			img
				@media screen and (max-width: 767px)
					max-width: 57px
		&:nth-child(3)
			img
				@media screen and (max-width: 767px)
					max-width: 55px
					max-height: 39px
		@media screen and (max-width: 991px) and (min-width: 768px)
			padding: 0 5px
		@media screen and (max-width: 767px)
			flex: 0 0 100%
			max-width: 100%
			margin-bottom: 10px
			&:last-child
				margin-bottom: 0
	&__text
		display: inline-block
		font-family: $font-regular
		font-size: 14px
		color: #000
		padding-left: 15px
		flex: 0 0 250px
		max-width: 250px
		@media screen and (max-width: 1289px)
			flex: 0 0 175px
			max-width: 175px
			line-height: 20px
			font-size: 13px
		@media screen and (max-width: 991px) and (min-width: 768px)
			flex: 0 0 160px
			max-width: 160px
		@media screen and (max-width: 767px)
			flex: 0 0 calc(100% - 74.5px)
			max-width: calc(100% - 74.5px)
	.profitable-icons-img
		@media screen and (max-width: 767px)
			flex: 0 0 74.5px
			max-width: 74.5px
			text-align: center
		img
			@media screen and (max-width: 991px)
				max-width: 63px
			@media screen and (max-width: 767px)
				width: 100%
.profitable-cost-form
	padding-top: 43px
	opacity: 0
	.label-for-input
		display: flex
		@media screen and (max-width: 767px)
			flex-wrap: wrap
			align-items: center
		.twitter-typeahead
			width: 529px
			@media screen and (max-width: 767px)
				width: calc(100% - 105px)
		input
			width: 100%
			height: 100%
			@media screen and (max-width: 767px)
				padding-left: 15px
				padding-right: 15px
			@media screen and (max-width: 359px)
				font-size: 12px
			//	width: 100%
			//	flex: 0 0 100%
			//	max-width: 100%
			//	padding-top: 13px
			//	padding-bottom: 13px
		.btn
			background-color: #cd0031
			width: 127px
			margin-left: 10px
			transition: all 0.3s linear
			//@media screen and (max-width: 767px)
			//	width: 100%
			//	flex: 0 0 100%
			//	max-width: 100%
			//	margin-left: 0
			//	margin-top: 15px
			@media screen and (max-width: 767px)
				width: 90px
			&:hover
				background-color: #b90530
			
.example
	display: flex
	padding-top: 15px
	padding-left: 20px
	flex-wrap: wrap
	@media screen and (max-width: 767px)
		padding-left: 15px
	&__text
		color: #000
		font-size: 13px
		font-family: $font-light
		margin-right: 5px
		@media screen and (max-width: 359px)
			font-size: 12px
	&__link
		color: #000
		font-size: 13px
		font-family: $font-light
		display: inline-block
		margin-right: 5px
		text-decoration: underline
		&:first-child
			margin-left: 5px
		&:hover
			text-decoration: none
		@media screen and (max-width: 359px)
			font-size: 12px
		
.bell-big
	display: inline-block
	vertical-align: middle
	background: url('../img/icons/bell-big.svg')
	background-size: contain
	background-repeat: no-repeat
	width: 54px
	height: 54px
	
.image-grid-section
	background: url('../img/home/bg-blue-rating.jpg') no-repeat
	-webkit-background-size: cover
	background-size: cover
	@media screen and (max-width: 767px)
		padding-bottom: 45px
		padding-top: 40px
	&__text-center
		color: #fff
		text-align: center
		padding: 0 15px
		line-height: 1.2
		&_big
			font-size: 27px
			font-family: $font-medium
			@media screen and (max-width: 991px)
				padding: 0 15px
			@media screen and (max-width: 767px)
				font-size: 24px
			@media screen and (max-width: 359px)
				font-size: 21px
		&_mini
			font-size: 17px
			font-family: $font-light
			margin-top: 15px
			@media screen and (max-width: 767px)
				font-size: 14px
	&__link
		background-color: #fff
		border: 2px solid #108CC5
		-webkit-border-radius: 4px
		-moz-border-radius: 4px
		border-radius: 4px
		display: inline-flex
		padding: 15px
		align-items: center
		justify-content: center
		margin-top: 15px
		margin-left: 15px
		margin-right: 15px
		&:hover
			border: 2px solid #108CC5
		span
			color: #108CC5
			font-size: 13px
			font-family: $font-medium
			@media screen and (max-width: 359px)
				font-size: 11px
		img
			margin-left: 15px
	&_yellow
		background: url('../img/home/bg-yellow-rating.svg') no-repeat
		-webkit-background-size: cover
		background-size: cover
		@media screen and (max-width: 359px)
			background-position: center
			padding-bottom: 40px
		.image-grid-section__text-center
			color: #000
			&_big
				@media screen and (max-width: 359px)
					font-size: 22px
	&_centered
		text-align: center
	&_slider
		.image-grid
			padding: 0 50px
		.image-grid-item
			@media screen and (max-width: 767px)
				flex: 0 0 100%
				max-width: 100%
.image-grid
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	//padding: 20px 50px
	padding: 0 50px
	@media screen and (max-width: 767px)
		padding-top: 0
		padding-bottom: 0
	@media screen and (max-width: 425px)
		padding-left: 0
		padding-right: 0
	.slick-slide
		padding: 0 7.5px
		font-size: 0
	&-item
		background-color: #fff
		-webkit-border-radius: 4px
		-moz-border-radius: 4px
		border-radius: 4px
		padding: 15px
		display: flex
		flex-wrap: wrap
		justify-content: center
		align-items: center
		max-width: 169px
		flex: 0 0 169px
		&:nth-child(n+7)
			margin-bottom: 0
			@media screen and (max-width: 1289px)
				margin-bottom: 15px
		&:nth-child(n+9)
			@media screen and (max-width: 1289px)
				margin-bottom: 0
			@media screen and (max-width: 991px)
				margin-bottom: 15px
		&:nth-child(n+10)
			@media screen and (max-width: 991px)
				margin-bottom: 0
			@media screen and (max-width: 767px)
				margin-bottom: 15px
		&:nth-child(n+11)
			@media screen and (max-width: 767px)
				margin-bottom: 15px
		@media screen and (max-width: 767px)
			flex: 0 0 48%
			max-width: 48%
		&__image
			min-height: 62px
			display: flex
			align-items: center
			justify-content: center
			img
				max-width: 100%
		&__text
			color: #000
			font-size: 15px
			margin-top: 7px
			flex: 0 0 100%
			max-width: 100%
			text-align: center
			overflow: hidden
			text-overflow: ellipsis
			max-height: 15px
			display: block

.main-rating-section
	background-color: #F5F5F8
	padding-top: 40px
	@media screen and (max-width: 767px)
		padding-bottom: 40px
	.sub-title
		margin-bottom: 25px
	.rating-list
		&__image
			height: 100%
				
.main-promocodes-section
	background-color: $template-gray
	@media screen and (max-width: 767px)
		padding-bottom: 30px
	.sub-title
		margin-bottom: 25px
	.promocode
		background-color: #fff
		.promocode-image
			img
				width: auto
	.promos
		margin-bottom: 0
		&__row
			margin-bottom: 0
			
.main-coop-section
	@media screen and (max-width: 767px)
		padding-top: 30px
		padding-bottom: 30px
	.coop-item
		padding: 0 10px
		img
			width: 100%
			max-height: 70px
			object-fit: cover
	.coop-item-align
		background-color: #fff
		padding: 20px 10px
		
.buying-process-section
	padding-top: 50px
	padding-bottom: 50px
	@media screen and (max-width: 767px)
		padding-top: 40px
		padding-bottom: 40px
.buying-process
	h2
		text-align: center
	.list-white
		justify-content: center
		padding-top: 25px
		@media screen and (max-width: 767px)
			padding-top: 20px
		li
			border: 1px solid transparent
			cursor: pointer
			opacity: 0.29
			color: #000
			&:after
				content: ""
				display: block
				height: 2px
				width: 100%
				background: url(../img/dots-black.svg)
				opacity: 0.29
			&:hover
				&:after
					opacity: 0
			&.active
				border: 1px solid #000
				opacity: 1
				&:after
					display: none
	&-item
		display: none
		&.active
			display: block
	&-steps
		justify-content: space-between
		padding-top: 45px
		max-width: 991px
		margin: auto
		@media screen and (max-width: 991px)
			padding-bottom: 25px
			max-width: 100%
		@media screen and (max-width: 767px)
			padding-top: 30px
			padding-bottom: 0
		.tutorial-text
			margin-top: 15px
			margin-bottom: 15px
		&_second
			max-width: 767px
.step-wrapper
	@media screen and (max-width: 991px)
		flex: 0 0 50%
		max-width: 50%
		width: 50%
		&:nth-child(2)
			max-height: 120px
			overflow: hidden
		&:nth-child(3)
			position: absolute
			bottom: 0
			right: 0
	@media screen and (max-width: 767px)
		flex: 0 0 100%
		max-width: 100%
		width: 100%
		margin-bottom: 15px
		&:nth-child(3)
			position: static
			.tutorial-text
				margin-bottom: 0
.step-position
	padding-left: 15px
	li
		font-size: 17px
		font-family: $font-regular
		display: flex
		align-items: center
		margin-bottom: 10px
		img
			margin-right: 15px

.main-about-section
	@media screen and (max-width: 767px)
		padding-bottom: 30px
	.sub-title
		margin-bottom: 25px
//.main-image-list
//	display: flex
//	justify-content: space-between
//	align-items: center
//	flex-wrap: wrap
.main-image-list-slider
	padding: 0 50px
	.main-image-list-item
		img
			margin: auto
			width: 100%
			max-height: 70px
			object-fit: cover
			//@media screen and (max-width: 1289px)
			//	max-width: 80%
			//@media screen and (max-width: 767px)
			//	img
			//		max-width: 100%
	.main-image-list-item-align
		//min-height: 70px
		height: 100%
		display: flex
		align-items: center
		justify-content: center
		padding: 0 10px
	.slick-slide
		> div
			font-size: 0
		div
			height: 100%
	
.main-similar
	padding-bottom: 90px
	@media screen and (max-width: 1289px)
		padding-top: 40px
		padding-bottom: 80px
	//.similar__list
	//	@media screen and (max-width: 1289px)
	//		display: none
	//.similar__items
	//	.product
	//		@media screen and (max-width: 1289px)
	//			max-width: 48%
	//		@media screen and (max-width: 767px)
	//			flex: 0 0 100%
	//			max-width: 100%

.main-popularity
	.other-products
		&:after
			@media screen and (max-width: 1289px)
				display: none
				//flex: 0 0 48%
	.other-offers
		@media screen and (max-width: 767px)
			padding: 0
	
.feedback-section
	padding-top: 50px
	padding-bottom: 25px
	@media screen and (max-width: 767px)
		padding-top: 40px
		padding-bottom: 40px
.feedback
	&__title
		display: flex
		justify-content: space-between
		align-items: center
		@media screen and (max-width: 991px)
			flex-wrap: wrap
		h2
			@media screen and (max-width: 991px)
				flex: 0 0 100%
				max-width: 100%
	.feedback-icons
		margin-left: auto
		justify-self: flex-end
		display: flex
		align-items: center
		flex-wrap: wrap
		@media screen and (max-width: 991px)
			flex: 0 0 100%
			max-width: 100%
		a
			@media screen and (max-width: 991px)
				display: flex
				align-items: center
		img
			margin-left: 15px
			@media screen and (max-width: 991px)
				margin-left: 0
				margin-right: 15px
.feedback-list
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	margin-top: 15px
	@media screen and (max-width: 767px)
		padding: 0 50px
	&__item
		flex: 0 0 49%
		max-width: 49%
		display: flex
		margin-bottom: 25px
		@media screen and (max-width: 991px)
			flex: 0 0 100%
			max-width: 100%
		@media screen and (max-width: 767px)
			flex-wrap: wrap
			margin-bottom: 0
	.feedback-image
		flex: 0 0 102px
		max-width: 102px
		@media screen and (max-width: 767px)
			flex: 0 0 100%
			max-width: 100%
			display: flex
		&__avatar
			font-size: 0
			text-align: center
			@media screen and (max-width: 767px)
				text-align: left
			img
				max-width: 100%
				max-height: 102px
				@media screen and (max-width: 767px)
					max-height: 59px
		&__name
			font-size: 15px
			font-family: $font-regular
			margin-top: 15px
			overflow: hidden
			text-overflow: ellipsis
			//max-height: 15px
			white-space: nowrap
			@media screen and (max-width: 767px)
				margin-top: 0
		&__post
			margin-top: 15px
			overflow: hidden
			text-overflow: ellipsis
			//max-height: 15px
			white-space: nowrap
			@media screen and (max-width: 767px)
				margin-top: 10px
				margin-bottom: 5px
		&__years
			margin-top: 5px
			overflow: hidden
			text-overflow: ellipsis
			//max-height: 15px
			white-space: nowrap
			@media screen and (max-width: 767px)
				margin-top: 0
		&__post, &__years
			font-size: 14px
			font-family: $font-regular
		&__info
			@media screen and (max-width: 767px)
				flex: 0 0 calc(100% - 59px)
				max-width: calc(100% - 59px)
				width: calc(100% - 59px)
				padding-left: 15px
	.feedback-list
		flex: 0 0 calc(100% - 102px)
		max-width: calc(100% - 102px)
		width: calc(100% - 102px)
		@media screen and (max-width: 767px)
			flex: 0 0 100%
			max-width: 100%
	.feedback-description
		font-size: 14px
		font-family: $font-regular
		color: #808084
		line-height: 20px
		padding-left: 15px
		@media screen and (max-width: 767px)
			padding-left: 0
			margin-top: 15px
		
.business-section
	padding: 50px 0
.business-list
	display: flex
	justify-content: space-between
	align-items: center
	flex-wrap: wrap
	margin-top: 15px
	//padding: 0 40px
	@media screen and (max-width: 767px)
		padding: 0 45px
	&__item
		-webkit-border-radius: 4px
		-moz-border-radius: 4px
		border-radius: 4px
		flex: 0 0 23%
		max-width: 23%
		padding: 15px 15px 40px
		box-shadow: 0 0 14px rgba(0, 0, 0, 0.1)
		margin-bottom: 15px
		@media screen and (max-width: 991px)
			flex: 0 0 24%
			max-width: 24%
		@media screen and (max-width: 767px)
			flex: 0 0 100%
			max-width: 100%
			display: block
			margin: auto auto 0
		//@media screen and (max-width: 450px)
		//	max-width: 276px
		//	flex: 0 0 276px
		//	margin: 0 auto 0
	&__text
		margin-top: 15px
		height: 32px
		overflow: hidden
		max-width: 220px
		@-moz-document url-prefix()
			height: 37px
		@media screen and (max-width: 359px)
			height: auto
			@-moz-document url-prefix()
				height: auto
	&__link
		max-width: 270px
		margin: 15px auto 0
		display: block
	.slick-slide
		& > div
			padding: 15px
			
@media screen and (max-width: 767px)
	@supports (-webkit-overflow-scrolling: touch)
		.typeahead-header
			height: 41px !important
	
	@supports not (-webkit-overflow-scrolling: touch)
		.typeahead-header
			height: 41px !important



