@import 'vars'

.icon
  &-like
    display: inline-block
    width: 15px
    height: 16px
    vertical-align: middle
    background-image: url('../img/icons/like.svg')
    background-size: contain
    background-repeat: no-repeat
  &-like-gray
    display: inline-block
    width: 15px
    height: 16px
    vertical-align: middle
    background-image: url('../img/icons/like-gray.svg')
    background-size: contain
    background-repeat: no-repeat
  &-dislike
    display: inline-block
    width: 15px
    height: 16px
    vertical-align: middle
    background-image: url('../img/icons/dislike.svg')
    background-size: contain
    background-repeat: no-repeat
  &-dislike-gray
    display: inline-block
    width: 15px
    height: 16px
    vertical-align: middle
    background-image: url('../img/icons/dislike-gray.svg')
    background-size: contain
    background-repeat: no-repeat
  &-delivery
    display: inline-block
    vertical-align: middle
    width: 22px
    height: 20px
    background: url('../img/icons/delivery.svg')
    background-size: contain
    background-repeat: no-repeat
  &-pay
    display: inline-block
    vertical-align: middle
    width: 22px
    height: 20px
    background: url('../img/icons/mastercard.svg')
    background-size: contain
    background-repeat: no-repeat
  &-warranty
    display: inline-block
    vertical-align: middle
    width: 22px
    height: 20px
    background: url('../img/icons/waranty.svg')
    background-size: contain
    background-repeat: no-repeat
  &-arrow,
  &-more,
  &-black
    display: inline-block
    margin-left: 8px
    margin-right: 8px
    width: 15px
    height: 10px
    vertical-align: middle
    background-image: url('../img/icons/arrow-more-black.svg')
    background-size: contain
    background-repeat: no-repeat
  &-google
    &:after
      content: url('../img/icons/google.svg')
  &-filter
    display: inline-block
    width: 15px
    height: 16px
    vertical-align: middle
    background-image: url('../img/icons/filter.svg')
    background-size: contain
    background-repeat: no-repeat
    
a
  &:hover
    .icon-google
      &:after
        content: url('../img/icons/google-hover.svg')
.btn
  &-like
    font-size: 0
    display: inline-block
    vertical-align: middle
    border-radius: 50%
    background-color: $template-blue
    border: 1px solid $template-blue
    width: 30px
    height: 30px
    position: relative
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5)
    background-image: url('../img/icons/like.svg')
    background-repeat: no-repeat
    background-position: center 5px
    background-size: 16px
    &:hover
      background-color: #fff
      background-image: url('../img/icons/like-blue.svg')
  &-dislike
    font-size: 0
    display: inline-block
    vertical-align: middle
    border-radius: 50%
    background-color: $template-blue
    border: 1px solid $template-blue
    width: 30px
    height: 30px
    position: relative
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5)
    background-image: url('../img/icons/dislike.svg')
    background-repeat: no-repeat
    background-position: center 7px
    background-size: 16px
    &:hover
      background-color: #fff
      background-image: url('../img/icons/dislike-blue.svg')

.price
  &-sale
    &:after
      content: url('../img/icons/price-sale.svg')
  &-no-sale
    &:after
      content: url('../img/icons/price-no-sale.svg')
