@import 'vars'

.btn-like, .btn-dislike
	&_inverse
		box-shadow: unset
		display: block
		width: 37px
		height: 37px
		background: #fff url("../img/icons/dislike-blue.svg") no-repeat center
		&:hover
			background: #267BA6 url("../img/icons/dislike.svg") no-repeat center
			border: 1px solid transparent

.btn-like
	&_inverse
		transform: rotate(180deg)
			
.btn-dislike
	&_inverse
		margin-left: 15px

.store
	.row
		@media screen and (max-width: 767px)
			background-color: #f5f5f5
			padding-bottom: 15px
		
.store-section
	@media screen and (max-width: 767px)
		padding: 0
	.store-bell
		text-align: center
	.store-item-order
		@media screen and (max-width: 767px)
			&-first
				order: 0
				//margin-top: 15px
			&-last
				order: 1
				display: none
				@media screen and (max-width: 559px)
					display: none
		@media screen and (max-width: 559px)
			&-first
				margin-top: 0
.store-likes
	display: flex
	justify-content: space-between
	@media screen and (max-width: 991px)
		margin-top: 15px
.store-item
	padding: 15px 60px
	display: flex
	align-items: center
	flex-wrap: wrap
	height: 100%
	position: relative
	@media screen and (max-width: 1525px)
		padding: 15px 0
	&_back
		.back
			color: #267ba6
			font-family: $font-regular
			font-size: 12px
			display: flex
			align-items: center
			text-decoration: underline
			white-space: nowrap
			&:hover
				text-decoration: none
		img
			margin-right: 15px
			@media screen and (max-width: 850px)
				margin-right: 1px
			@media screen and (max-width: 767px)
				margin-right: 15px
	&_half
		justify-content: space-between
	&_bordered
		border-left: 1px solid #dedede
		border-right: 1px solid #dedede
		.store-text
			color: #888888
			font-family: $font-regular
			font-size: 12px
			margin-top: 15px
		.store-name
			padding-right: 10px
			@media screen and (max-width: 991px)
				flex: 0 0 100%
				max-width: 100%
		.store-title
			@media screen and (max-width: 991px)
				flex-wrap: wrap
	&_subscribe
		padding: 0
		justify-content: center
		@media screen and (max-width: 767px)
			justify-content: space-between
		@media screen and (max-width: 559px)
			padding-top: 0
		.store-text
			color: #000000
			font-family: $font-regular
			font-size: 13px
			text-decoration: underline
			white-space: nowrap
			@media screen and (max-width: 1289px) and (min-width: 768px)
				white-space: normal
				margin-top: 15px
			@media screen and (max-width: 767px)
				white-space: normal
		a
			&:hover
				.store-text
					text-decoration: none
			@media screen and (max-width: 1289px) and (min-width: 768px)
				display: flex
				justify-content: center
				flex-wrap: wrap
				.bell-yellow
					margin-right: 0
					max-width: 100%
					text-align: center
					flex: 0 0 100%
					background-position: center
	.store-title
		display: flex
		align-items: center
		justify-content: space-between
		flex: 0 0 100%
		max-width: 100%
	.store-feedback
		margin-top: 15px
		color: #267ba6
		font-family: $font-regular
		font-size: 12px
		text-decoration: underline
		&:hover
			text-decoration: none
	.store-half
		flex: 0 0 49%
		max-width: 49%
		margin-top: 15px
		a
			color: $template-blue
			display: block
			font-size: 12px
			font-family: $font-regular
			text-decoration: underline
			margin-bottom: 5px
			&:hover
				text-decoration: none
		&:nth-of-type(1)
			padding-right: 15px
			a
				color: $template-blue
				&:hover, &:active
					color: $template-blue
		&:last-child
			a
				color: #ababab
				&:hover, &:active
					color: #ababab
	.bell-yellow
		margin-right: 15px
	.store-close
		position: absolute
		right: 0
		top: 15px
		@media screen and (max-width: 767px)
			top: -30px
		img
			margin-left: 5px
		span
			color: #707070
			font-family: $font-regular
			font-size: 13px
		&:hover
			opacity: 0.6