@import 'vars'

.pa
    &-prod
        padding: 8px 15px
        display: flex
        flex-wrap: nowrap
        align-items: center
        border-bottom: 1px solid $border-prod
        &__img
            flex: 0 0 5%
            width: 5%
            font-size: 0
            img
                width: 100%
                max-height: 67.11px
                object-fit: cover
        &__title
            flex: 0 0 37%
            width: 37%
            padding: 0 15px 0 20px
            font-size: 13px
            a
                color: $template-blue
                text-decoration: underline
                &:hover
                    text-decoration: none
                &.pa-prod-link
                    color: #000000
                    font-size: 14px
                    display: block
                    text-decoration: none
                    margin-bottom: 15px
        &__sale
            &-svg
                flex: 0 0 22%
                width: 22%
                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
                    display: none
        &__price
            flex: 0 0 15%
            width: 15%
            padding: 0 20px
            padding-left: 20px
            position: relative
            font-size: 14px
            background-image: url('../img/icons/more-bottom-red.svg')
            background-position: left bottom
            background-repeat: no-repeat
            background-size: 11px 18px
            &-old
                font-size: 13px
                text-decoration: line-through
                color: rgba(0,0,0,0.4)
                margin-bottom: 7px
            &-new
                color: $template-red
                font-size: 17px
                font-family: $font-bold
            &.no-sale
                background-image: none
        &__sale
            color: #ffffff
            flex: 0 0 9%
            width: 9%
            span
                background-color: $template-red
                border-radius: 4px
                padding: 6px 10px
                font-size: 11px
                white-space: nowrap
                font-family: $font-bold
        &__controls
            white-space: nowrap
            display: flex
            align-items: center
            flex: 0 0 12%
            width: 12%
            a
                margin: 0 7px
                i
                    color: $template-red
                    font-size: 20px
    &-widget
        background-color: $input-bg
        padding: 35px 55px
        border-radius: 4px
        margin: 15px 0
        &-row
            display: flex
            align-items: center
        &-main
            display: flex
            align-items: center
            flex: 0 0 64%
        &__text
            padding: 0 15px 0 40px
            flex: 0 0 360px
            h3
                font-size: 23px
                font-family: $font-medium
                margin-bottom: 15px
        &__socials
            flex: 0 0 34%
            ul
                margin-bottom: 15px
            a
                border-color: $template-blue
        &__link
            background-color: #ffffff
            border-radius: 4px
            font-size: 13px
            color: rgba(0,0,0,0.57)
            padding: 14px 25px
            width: 100%
            max-width: 290px
            margin: 0 auto

.short-text
    overflow: hidden
    max-height: 60px


                
@media (max-width: 1289px)
    .pa-prod
        flex-wrap: wrap
        position: relative
        &__title
            flex: 0 0 45%
            width: 45%
        &__sale-svg
            flex:  0 0 27%
            width: 27%
        &__price
            flex: 0 0 23%
            width: 23%
        &__sale
            flex: 0 0 50%
            width: 50%
        &__controls
            flex: 0 0 50%
            width: 50%
            justify-content: flex-end
            .btn-delate
                position: absolute
                top: 10px
                right: 10px 
    .pa-widget
        padding: 25px 10px
        &-main
            flex-wrap: wrap
            flex: 0 0 60%
            width: 60%
            padding-right: 20px
        &__img
            flex: 0 0 100%
            width: 100%
            text-align: center
            margin-bottom: 15px
        &__text
            flex: 0 0 100%
            width: 100%
            text-align: center
            padding: 0
        .socials__list
            justify-content: center

@media (max-width: 991px)
    .pa-prod
        & > div
            margin-bottom: 15px
        &__img
            flex: 0 0 50px
            width: 50px
        &__title
            flex: 0 0 calc(100% - 50px)
            width: calc(100% - 50px)
        &__sale-svg
            flex:  0 0 180px
            width: 180px
        &__price
            flex: 0 0 calc(80% - 180px)
            width: calc(80% - 180px)
        &__sale
            flex: 0 0 20%
            width: 20%
        &__controls
            flex: 0 0 100%
            width: 100%

@media (max-width: 767px)
    .pa-prod
        flex-wrap: wrap
        position: relative
        &__price
            flex: 0 0 calc(100% - 80px)
            max-width: calc(100% - 80px)
            width: calc(100% - 80px)
            padding-right: 0
            order: 5
            display: flex
            align-items: center
            flex-direction: row-reverse
            justify-content: flex-end
            &-old
                margin-bottom: 0
                margin-left: 15px
        &__sale
            flex: 0 0 80px
            width: 80px
            max-width: 80px
            order: 6
        &__sale-svg
            order: 10
            flex: 0 0 50%
            max-width: 50%
        &__controls
            order: 10
            flex: 0 0 50%
            max-width: 50%

    .pa-widget
        &-row
            flex-wrap: wrap
        &-main
            flex: 0 0 100%
            width: 100%
            padding-right: 0
            margin-bottom: 20px
        &__socials
            flex: 0 0 100%
            width: 100%

@media (max-width: 560px)
    .pa-widget
        border-radius: 0
        margin-left: -15px
        margin-right: -15px
        
@media screen and (max-width: 359px)
    .pa-prod
        &__price-new
            font-size: 14px