@import 'vars'

.pa
    &-row
        display: flex
        flex-wrap: nowrap
    &-sidebar
        flex: 0 0 240px
        padding-right: 15px
        &-list
            font-size: 14px
            color: #000000
            li
                opacity: 0.29
                margin-bottom: 9px
                a
                    color: #000000
                    border: 1px solid transparent
                    display: inline-block
                    padding: 9px 25px 9px 18px
                    border-radius: 4px
                    &:after
                        content: ''
                        display: block
                        height: 2px
                        width: 100%
                        background: url('../img/dots-black.svg')
                    &:hover
                        &:after
                            opacity: 0
                &.active
                    opacity: 1
                    a
                        border-color: #000000
                        width: 100%
                        position: relative
                        &:before
                            content: ''
                            display: block
                            position: absolute
                            width: 12px
                            height: 7px
                            background: url(../img/arrow_filter.svg) center no-repeat
                            background-size: contain
                            right: 12px
                            top: 50%
                            transform: translateY(-50%) rotate(-90deg)
                        &:after
                            display: none
    &-main
        flex: auto
        margin-bottom: 20px
        &-border
            border: 1px solid $border-prod
            border-radius: 4px
        .lk-form__checkbox
            margin-bottom: 0
        h2
            margin: 40px 0 20px 0 
    &-sale
        &-row
            display: flex
            padding: 20px 23px
            border-bottom: 1px solid $border-prod
            position: relative
            &.disabled
                background-color: $template-gray
                .pa-sale-title,
                .pa-sale-form
                    pointer-events: none
                    opacity: 0.5
        &-title
            flex: 0 0 37%
            padding-top: 8px
            &__main
                font-size: 16px
                margin-bottom: 28px
                letter-spacing: -0.4px
                a
                    color: #000000
                    &:first-child
                        font-family: $font-medium
            &__small
                font-size: 13px
                letter-spacing: -0.3px
        &-controls
            display: flex
            position: absolute
            right: 15px
            top: 25px
            align-items: center
    &-pause
        font-size: 0
        width: 13px
        height: 12px
        text-align: center
        background-image: url('../img/icons/pause.svg')
        background-repeat: no-repeat
        background-position: center
        background-size: contain
        &.active
            background-image: url('../img/icons/play.svg')
    &-close
        margin-left: 13px
        &:after
            content: '\f00d'
            font-family: "Font Awesome 5 Pro"
            font-weight: 300
            color: $template-red
            font-size: 20px


@media (max-width: 1289px)
    .pa
        &-sale
            &-row
                flex-direction: column
            &-title
                flex: 0 0 100%
                &__main
                    margin-bottom: 15px
                &__small
                    margin-bottom: 15px
            &-form
                flex: 0 0 100%

            
@media (max-width: 767px)
    .pa
        &-row
            flex-direction: column
        &-sidebar
            flex: 0 0 100%
        &-sidebar
            &-list
                li
                    a
                        width: auto!important
        &-sale
            &-title
                &__main
                    padding-right: 35px
    .jq-selectbox
        margin-bottom: 15px
        

.pa-sale-form
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
        .col-md-5
            flex:  0 0 242px
            max-width: 242px
            width: 242px