@import 'vars'

.box-shadow
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1)

.lk
    &-main
        padding-bottom: 20px
    &-margin-bottom
        margin-bottom: 60px
    &-top-box
        padding: 20px 55px
        align-items: center
        display: flex
        margin-bottom: 26px
    &-form
        button
            padding: 14px 12px
        &__checkbox
            display: flex
            margin-top: 15px
            margin-bottom: 32px
            flex-wrap: wrap
            .checkbox
                margin-right: 20px
                padding-left: 30px
                .checkmark
                    width: 20px
                    height: 20px
                    &:after
                        left: 6px
                        top: 3px
                        width: 6px
                        height: 10px

        .row
            margin-left: -5px
            margin-right: -5px
            & > div
                padding-left: 5px
                padding-right: 5px
        input
            width: 100%
            margin-bottom: 10px
            padding-top: 14px
            padding-bottom: 14px
    &-edit-link
        color: #000
        display: inline-block
        font-size: 15px
        position: relative
        padding-bottom: 1px
        &:after
            content: ''
            position: absolute
            width: 100%
            height: 2px
            background: url("../img/dots-black.svg")
            bottom: 0
            left: 0
        &:hover
            &:after
                display: none
        &.active
            font-size: 21px
            font-family: $font-medium
            padding-right: 25px
            &:after
                content: '\f105'
                font-family: "Font Awesome 5 Pro"
                font-weight: 300
                font-size: 28px
                background: none
                width: auto
                height: auto
                display: block
                right: 0
                top: 50%
                transform: translateY(-50%)
                bottom: auto
                left: auto
.lk-valid-mess
    font-size: 14px
    color: #cd0031
.lk-valid-mess-wrapper
    margin-bottom: 10px
    display: none
    
@media (max-width: 991px)
    .lk
        &-top-box
            padding: 15px 20px
            white-space: nowrap

@media (max-width: 767px)
    .lk
        &-top-box
            flex-direction: column
            padding: 0
            box-shadow: none
            margin-left: -15px
            margin-right: -15px
            white-space: normal
            a
                margin-bottom: 15px
        &-margin-bottom
            margin-bottom: 30px
        &-form
            &__checkbox
                justify-content: space-between
                .checkbox
                    flex: 0 0 50%
                    max-width: 50%
                    white-space: nowrap
                    margin-right: 0

@media (max-width: 500px)
    .lk
        &-form
            &__checkbox
                .checkbox
                    flex: 0 0 100%
                    max-width: 100%
