/* default styles for all pages */

@import 'vars'
@import 'mixins'
@import 'fonts'
@import 'common'
@import 'header'
@import 'breadcrumbs'
@import 'about'
@import 'contacts'
@import 'detailed-specifications'
@import 'catalog'
@import 'tutorial'
@import 'footer'
@import 'catalog_v2'
@import 'modals'
@import 'promocodes'
@import 'icons'
@import 'lk'
@import 'lk-notice'
@import 'lk-notice-2'
@import 'category'
@import 'single'
@import 'single-table'
@import 'top'
@import 'product'
@import 'lamoda'
@import 'home'
@import 'sliders'
@import 'error-page'

// Pages
@import 'pages/_sem'

*
  box-sizing: border-box
  &:hover, &:active, &:focus
      outline: none

html
  font-size: 16px
  
body
  font-family: 'MullerRegular', Helvetica, Arial, sans-serif
  margin: 0
  padding: 0

ul
  padding: 0
  margin: 0
  list-style: none

select
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none

select::-ms-expand
  display: none

a
  text-decoration: none
  transition: all 0.3s linear

p
  margin: 0
  
section
  position: relative
  @media screen and (max-width: 767px)
    padding: 40px 0
 
h1, h2, h3
  margin: 0
  padding: 0
  line-height: 1

input
  margin: 0
  font-family: $font-regular
  
textarea
  resize: none
  
iframe
  border: none
  
::-webkit-input-placeholder
  /* Chrome/Opera/Safari
  color: rgb(171, 171, 171)
  font-size: 13px
  font-family: $font-regular
  

\::-moz-placeholder
  /* Firefox 19+
  color: rgb(171, 171, 171)
  font-size: 13px
  font-family: $font-regular
  

\:-ms-input-placeholder
  /* IE 10+
  color: rgb(171, 171, 171)
  font-size: 13px
  font-family: $font-regular
  

\:-moz-placeholder
  /* Firefox 18-
  color: rgb(171, 171, 171)
  font-size: 13px
  font-family: $font-regular
  

