@import 'vars'

.mfp-bg
	opacity: 0.6
.mfp-container
	padding-top: 20px
.mfp-content
	background: #fff
	border-radius: 4px
	max-width: 333px
	margin: auto
	padding: 15px
	position: relative
	@media screen and (max-width: 767px)
		max-width: 320px
		margin-bottom: 15px
.body-tutorial
	.mfp-bg
		background: transparent
		opacity: 1
	.mfp-content
		box-shadow: 0px 0px 5px 5px rgba(222,219,222,1)
.body-for-modal
	.mfp-bg
		background: #000
		opacity: 0.6
	.mfp-content
		max-width: 500px
		box-shadow: none
		padding: 35px
.body-for-helper
	margin-right: -15px
	.mfp-bg
		background: #000
		opacity: 0.6
	.mfp-content
		max-width: 350px
		box-shadow: none
		padding: 35px
		vertical-align: top
		margin-top: 180px
		@media screen and (max-width: 1289px)
			margin-top: 220px
		@media screen and (max-width: 767px)
			margin-top: 75px
.body-sales
	.mfp-bg
		background: #000
		opacity: 0.6
	.mfp-content
		background: #FFF19F
		//max-width: 333px
		max-width: 550px
		box-shadow: none
		padding: 35px
.body-promocodes
	.mfp-bg
		background: #000
		opacity: 0.6
	.mfp-content
		max-width: 500px
		box-shadow: none
		padding: 50px 50px 0
		@media screen and (max-width: 767px)
			padding: 15px 15px 0
			max-width: 333px

.body-region
	.mfp-content
		max-width: 500px
.modal-wrapper
	//padding-bottom: 115px
	&-form
		padding-bottom: 0
		input
			width: 100%
	.btn
		max-width: 127px
		margin-top: 15px
		&.subscribe
			background-color: #CD0031
			max-width: 100%
			padding: 15px
			&:hover
				background-color: #b90530
		&.registre
			max-width: 100%
	.btn-arrow
		margin-left: 15px
	.modal-title
		margin-bottom: 15px
		margin-top: 15px
	.modal-image
		border-bottom-left-radius: 4px
		border-bottom-right-radius: 4px
		width: calc(100% + 30px)
		margin: 15px -15px -19px -15px
	.modal-message
		margin-top: 15px
		text-align: center
	.modal-title
		text-align: center
		&-authorise
			font-family: $font-medium
			font-size: 24px
		&_big
			font-size: 30px
			font-family: $font-bold
		&_normal
			font-size: 18px
			font-family: $font-regular
	.input-text
		width: 100%
		padding: 15px
		margin-bottom: 0
		margin-top: 15px
	.textarea
		border: 1px solid #D1D1D6
		background-color: #fff
		margin-bottom: 0
		margin-top: 15px
		width: 100%
		padding: 15px
	.no-thanks
		margin-top: 15px
		text-align: center
		a
			display: inline-block
			text-decoration: underline
			&:hover
				text-decoration: none
	.little-modal-input
		margin-bottom: 15px
		height: 40px
		&.last
			margin-bottom: 0
	.text-black
		text-align: center
		font-size: 16px
		span
			font-size: 14px
			display: inline-block
			margin: 15px 0
	.socials__list
		justify-content: center
		padding: 15px 0
	.text-question
		a
			text-decoration: underline
			color: $template-blue
			&:hover
				text-decoration: none
		&.login-question
			text-align: center
			a
				margin-top: 15px
				display: inline-block
				&:hover
					text-decoration: none
	.modal-title-wrapper
		display: flex
		.modal-title
			padding-left: 15px
	.modal-title-image
		flex-shrink: 1
		padding-top: 10px
#dislike-modal
	.checkbox
		margin-bottom: 10px
#sales-modal
	.slider-handle
		background-color: #CD0031
	.modal-title-image
		padding-top: 0
	.modal-title
		color: #000000
		font-family: $font-bold
		font-size: 19px
		line-height: 24px
		text-align: left
		margin: 0
	.sales-form
		margin-top: 15px
		.sales-label
			color: #000000
			display: inline-block
			font-family: $font-medium
			font-size: 14px
		label
			margin-bottom: 10px
		input
			background-color: #fff
			border: 1px solid #e2e2e2
			color: rgba(0, 0, 0, 0.57)
			font-family: $font-regular
			font-size: 13px
		.modal-row
			margin-bottom: 15px
	.btn
		background-color: #CD0031
		font-size: 13px
		font-family: $font-medium
		&:hover
			background-color: #b90530
	.text
		color: #000
		margin-top: 15px
		display: inline-block
	.checkcontainer
		color: #000
		input:checked ~ .radiobtn
			background-color: #CD0031
			border-color: #CD0031
		&:hover
			input ~ .radiobtn
				background-color: #CD0031
				border-color: #CD0031
			&:after
				background-color: #fff
	.checkbox
		color: #000
		input:checked ~ .checkmark
			background-color: #CD0031
			border-color: #CD0031
.sales-slider
	//padding: 0 5px
	padding: 0
	.slider-tick.round
		width: 0
	.slider-tick-label
		span
			color: #000000
			font-family: $font-regular
			font-size: 12px
			display: inline-block
			padding-top: 20px
			position: relative
			transform: translateX(5px)
			@media screen and (max-width: 340px)
				font-size: 10px
			&.with-value
				&:before
					content: ''
					display: table
					position: absolute
					left: 43.5%
					top: 0
					height: 16px
					width: 1px
					background-color: #c9c9c9
					@media screen and (max-width: 767px)
						left: 42%

/*зависит от body.body-for-modal*/
#subscribe-modal, #subscribe-modal2
	.modal-information
		display: flex
		justify-content: space-between
		align-items: flex-start
	.modal-image
		flex: 0 0 76px
		max-width: 76px
		position: static
		&_circle
			img
				-webkit-border-radius: 50%
				-moz-border-radius: 50%
				border-radius: 50%
		img
			max-width: 100%
	.modal-description
		flex: 0 0 calc(100% - 76px)
		max-width: calc(100% - 76px)
		padding-left: 15px
		padding-right: 15px
		p
			color: #000
			&:nth-of-type(1)
				margin-bottom: 5px
	.subscribe-modal-title
		font-size: 30px
		font-family: $font-bold
		padding-top: 30px
		margin-bottom: 15px
		text-align: center
	.modal-text
		font-size: 18px
		font-family: $font-regular
		text-align: center
		@media screen and (max-width: 767px)
			&_normal
				max-width: 180px
				margin: auto
		&_secret
			font-family: $font-regular
			font-style: italic
	.icon-plus
		display: block
		margin: 15px 0
		text-align: center
	.modal-row
		display: flex
		align-items: center
		@media screen and (max-width: 767px)
			flex-wrap: wrap
	.subscribe-form
		input
			max-width: 260px
			flex: 0 0 260px
			padding-top: 14px
			padding-bottom: 14px
			@media screen and (max-width: 767px)
				max-width: 100%
				flex: 0 0 100%
		.btn
			background-color: #CD0031
			max-width: 100%
			margin-top: 0
			margin-left: 10px
			&:hover
				background-color: #b90530
			@media screen and (max-width: 767px)
				max-width: 100%
				flex: 0 0 100%
				margin-left: 0
				margin-top: 10px
		.text
			text-align: center
			padding-top: 5px
		.no-thanks
			padding-top: 10px

#promocodes-modal, #promocodes-stock-modal
	padding-bottom: 0
	.no-form
		text-align: center
		margin-bottom: 25px
		@media screen and (max-width: 767px)
			margin-bottom: 15px
	.modal-text
		color: #8E8E93
		font-size: 14px
		line-height: 20px
		text-align: center
		margin: 25px 0
		max-width: 410px
	.modal-information
		display: flex
		@media screen and (max-width: 767px)
			flex-wrap: wrap
	.modal-image
		flex: 0 0 90px
		max-width: 90px
		margin: 0
		@media screen and (max-width: 767px)
			flex: 0 0 100%
			max-width: 100%
			width: 100%
			text-align: center
	.modal-title
		flex: 0 0 calc(100% - 90px)
		max-width: calc(100% - 90px)
		width: calc(100% - 90px)
		display: flex
		flex-direction: column
		margin: 0
		text-align: left
		padding-left: 25px
		@media screen and (max-width: 767px)
			flex: 0 0 100%
			max-width: 100%
			width: 100%
		&_big
			font-size: 30px
			font-family: $font-bold
			@media screen and (max-width: 767px)
				text-align: center
		&_normal
			font-size: 18px
			font-family: $font-regular
			margin-top: 15px
			@media screen and (max-width: 767px)
				text-align: center
		&_red
			color: #CD0031
			font-weight: bold
	.promocodes-modal-form
		padding-bottom: 30px
		.form-modal-row
			display: flex
			height: 41px
			margin: 25px 0
			@media screen and (max-width: 767px)
				flex-wrap: wrap
				height: auto
				margin: 15px 0
				&:after
					content: ''
					display: table
					clear: both
			.btn
				background-color: #CD0031
				font-size: 12px
				font-family: $font-medium
				max-width: 123px
				height: 100%
				margin-top: 0
				margin-left: 15px
				&:hover
					background-color: #b90530
				@media screen and (max-width: 767px)
					flex: 0 0 100%
					max-width: 100%
					margin-left: 0
					margin-top: 15px
			input
				height: 100%
				flex: 1
				@media screen and (max-width: 767px)
					flex: 0 0 100%
					max-width: 100%
					height: 41px
		&__title
			font-size: 18px
			font-family: $font-regular
			text-align: center
			a
				color: $template-blue
				&:hover
					color: $btn-blue-hover
		&__send
			background-color: $template-blue
			color: #ffffff
			display: block
			max-width: 100%
			margin-top: 0
			transition: all 0.3s ease-in-out
			&:hover
				background-color: $btn-blue-hover
	.promocodes-modal-footer
		background-color: $template-gray
		color: #8E8E93
		font-size: 13px
		font-family: $font-regular
		line-height: 20px
		margin-left: -50px
		margin-right: -50px
		padding: 15px 50px
		text-align: center
		@media screen and (max-width: 767px)
			margin-left: -15px
			margin-right: -15px
			
#helper-modal
	.modal-image
		text-align: center
	.modal-step
		font-size: 13px
		font-family: $font-regular
		margin-top: 30px
		margin-bottom: 15px
		text-align: center
	.modal-title
		&_normal
			font-size: 17px
			margin-top: 15px
	.modal-text
		color: #8E8E93
		font-size: 14px
		font-family: $font-regular
		line-height: 20px
		text-align: center
	.modal-btns
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		.btn
			background-color: #CD0031
			transition: all .3s ease-out
			&:hover
				background-color: #b90530
		.dissmiss
			background-color: transparent
			color: #8E8E93
			text-decoration: underline
			&:hover
				background-color: transparent
				text-decoration: none