@import 'vars'

.chart
    padding: 35px 0 0 0
    .chart-container
        min-width: 510px
    .mCSB_scrollTools 
        opacity: 1 !important
        .mCSB_dragger 
            .mCSB_dragger_bar
                background-color: $template-blue
                height: 8px
                margin: 4px auto
.product
    &-tabs
        padding: 22px 10px 22px 70px
        align-items: center
        display: flex
        margin-bottom: 26px
        &__item
            cursor: pointer
            font-size: 15px
            margin-right: 115px
            &:last-child
                margin-right: 0
            &.active
                font-size: 24px
        &-show
            &__item
                display: none
                &.active
                    display: block
            .reviews
                padding-top: 0 
            .single-content
                color: #000000
                p,
                ol
                    color: #000000
                h2
                    font-size: 24px
                h3
                    font-weight: 300
                    font-size: 16px
                    margin-top: 0
                table
                    font-size: 15px
                    width: 100%
                    margin-bottom: 14px
                    tr
                        padding-bottom: 15px
                        @media screen and (max-width: 767px)
                            display: flex
                    td
                        width: 45%
                        padding-bottom: 10px
                        &:last-child
                            padding-left: 10px
                        &:first-child
                            width: 55%
                            position: relative
                            overflow: hidden
                            color: $text-gray-about
                            &:after
                                content: '...........................................................................................................'
                                position: absolute
                                right: 0
                    span
                        background: #ffffff
                        position: relative
                        left: -1px
                        padding-right: 5px
                        z-index: 2
    &-page
        .found-text
            font-size: 14px
            span
                color: #000000
    &-top
        padding: 20px 0
        display: flex
        @media screen and (max-width: 767px)
            overflow: hidden
        &__left
            flex: 0 0 46%
            max-width: 46%
        &__center
            flex: 0 0 38%
            max-width: 38%
            padding-left: 45px
            .rating-post
                margin-top: 28px
                margin-bottom: 40px
                a
                    width: 35px
                    height: 35px
                    background-size: 20px
        &__right
            flex: 0 0 16%
            max-width: 16%
    &-sort-discount
        margin-bottom: 12px
    &-delivery
        font-size: 13px
        color: $text-gray-about
        li
            margin-bottom: 8px
            i
                margin-right: 10px
    &-profitable
        border: 2px dashed $template-red
        border-radius: 4px
        max-width: 320px
        position: relative
        padding: 15px 35px 30px 20px
        margin-bottom: 43px
        &-title
            color: $template-red
            text-transform: uppercase
            font-size: 13px
            font-family: $font-bold
            margin-bottom: 5px
        &-price
            font-size: 23px
            font-family: $font-bold
        &-justify
            display: flex
            justify-content: space-between
            white-space: nowrap
            align-items: center
        .other-products__btn
            transform: none
            left: 20px
            bottom: -20px
    &-slider
        position: relative
        display: flex
        &__main
            width: calc(100% - 75px)
            height: 100%
            border: 1px solid #E9E8E8
            border-radius: 4px
            .slick-arrow
                z-index: 9
                background-color: $pagination-bg
                border-color: $pagination-bg
                border-radius: 0
                &:hover
                    border-color: #bcbcbc
            img
                margin: 0 auto
                max-width: 100%
        &__small
            position: absolute
            right: 0
            top: 0
            height: 100%
            width: 70px
            &-item
                border: 1px solid #E9E8E8
                border-radius: 4px
                img
                    object-fit: contain
                    width: 100%
                    height: 100%
            .slick-current
                .product-slider__small-item
                    border-color: $template-blue
.color-red
    color: $template-red
.color-blue
    color: $template-blue
.discount-btn
    background-color: $template-red
    &:hover
        background-color: #B90530
.offers-text
    text-align: center
    margin-top: 15px
    color: $found-text
    p
        color: $found-text
.tablePrice
    border: 1px solid #D6D6D6
    border-radius: 4px
    margin-bottom: 10px
    &-chars
        position: absolute
        bottom: 15px
        left: 85px
        width: calc(100% - 85px)
        display: flex
        align-items: center
        white-space: nowrap
        @media screen and (max-width: 767px)
            bottom: 32%
            max-width: 100%
            flex: 0 0 100%
            display: flex
            flex-wrap: wrap
            position: static
            order: 1
            overflow: hidden
            padding-left: 68px
            margin-bottom: 15px
        &__part
            margin-right: 25px
            color: rgba(0, 0, 0, 0.35)
            font-size: 12px
            @media screen and (max-width: 767px)
                line-height: 1.4
                margin-right: 0
                max-width: 100%
                flex: 0 0 100%
    &__row
        display: flex
        align-items: center
        padding: 12px 16px 12px
        border-bottom: 1px solid #D6D6D6
        position: relative
        &:last-child
            border-bottom: 0
        @media screen and (max-width: 767px)
            padding: 12px 16px
    &__col-1
        display: flex
        align-items: center
        flex: 0 0 32%
        width: 32%
    &__col-2
        display: flex
        align-items: center
        flex: 0 0 32%
        width: 32%
    &__col-3
        display: flex
        align-items: center
        flex: 0 0 23%
        width: 23%
        @media screen and (max-width: 359px)
            padding-left: 0
    &__col-4
        display: flex
        align-items: center
        flex: 0 0 13%
        width: 13%
    &__btn
        position: static
        transform: none
    &__img
        width: 46px
        flex: 0 0 46px
        font-size: 0
        margin-right: 22px
        img
            width: 100%
            height: auto
            max-height: 70px
            object-fit: cover
    &__title
        a
            color: #000000
            font-size: 14px
    &__site
        font-size: 13px
        flex: 0 0 50%
        width: 50%
        a
            color: $template-blue
            text-decoration: underline
            &:hover
                text-decoration: none
    &__delivery
        font-size: 13px
        color: rgba(0,0,0,0.35)
        flex: 0 0 50%
        width: 50%
        i
            margin-right: 10px
            width: 20px
    .pa-prod__price-old
        font-size: 14px
        margin-bottom: 0
    .pa-prod__price-new
        margin-right: 20px
    .pa-prod__price-main
        font-size: 17px
        font-family: $font-bold

.rating-white
    width: 100%
    text-align: left
    background-color: $template-gray
    margin-bottom: 0
    padding: 40px 35px
    &-mob
        @media screen and (max-width: 559px)
            padding: 15px 0
    .rating-slider 
        margin-left: -7px
        margin-right: -7px
        .slick-slide
            padding: 15px 7px 0 7px
    .rating-readall 
        a
            color: $template-blue
    h2
        margin-bottom: 24px
.list-black
    display: flex
    flex-wrap: wrap
    margin-bottom: 5px
    li
        padding: 9px 18px
        text-align: center
        font-size: 14px
        border-radius: 4px
        margin-right: 4px
        border: 1px solid transparent
        &.active 
            border: 1px solid #000000

.top-brands
    &-card
        margin-bottom: 0
        background-color: #F5F5F8
        border: 0
        h2
            margin-bottom: 24px
        .top-brands
            &__list
                justify-content: flex-start
            &-items__img
                max-width: none
                width: 15%

.similar
    padding: 37px 0
    h2
        margin-bottom: 23px
    &__list
        border: 1px solid #E6E6E6
        border-radius: 4px
        flex: 0 0 224px
        width: 224px
        padding: 22px
        margin-right: 20px
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
            max-width: 224px
        li
            font-size: 15px
            opacity: 0.29
            cursor: pointer
            margin-bottom: 21px
            span
                display: inline-block
                &:after 
                    content: ''
                    display: block
                    height: 2px
                    width: 100%
                    background: url(../img/dots-black.svg)
            &:last-child
                margin-bottom: 0
            &.active
                opacity: 1
                position: relative
                &:after
                    content: '\f105'
                    font-family: "Font Awesome 5 Pro"
                    position: absolute
                    right: 0
                    top: 50%
                    transform: translateY(-50%)
                span
                    &:after
                        opacity: 0
            &:hover
                span
                    &:after
                        opacity: 0
    &__container
        display: flex
    &__items
        margin-bottom: -45px
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
            width: calc(100% - 224px)
            max-width: calc(100% - 224px)
        &-list
            display: none
            &.active
                display: block
.selections
    padding: 22px 0
    h2
        margin-bottom: 15px

.instruction
    .single-content
        p,
        ol
            color: $text-gray-about
    h2
        font-size: 24px
        font-family: $font-medium
        margin-bottom: 20px
    &-flex
        display: flex
        align-items: center
        &-center
            justify-content: center
        .download
            margin-right: 15px
    &-img
        font-size: 0
        margin-right: 15px
        border: 1px solid #CFCFCF
    table
        width: 100%
        border: #D6D6D6
        border-collapse: collapse
        margin-bottom: 37px
        td
            text-align: center
            &:first-child
                text-align: left
        thead
            background-color: #F5F5F8
            font-size: 13px
            color: #7A7A7A
            border: 1px solid #D6D6D6
            border-bottom: 0
            td
                padding: 20px 15px
        tbody
            font-size: 14px
            td
                border: 1px solid #D6D6D6
                padding: 14px
    &-scroll
        margin-bottom: 30px
        .mCSB_scrollTools 
            opacity: 1 !important
            .mCSB_dragger 
                .mCSB_dragger_bar
                    background-color: $template-blue
                    height: 8px
                    margin: 4px auto
    &-slide
        max-width: 450px
        margin: 0 auto
        margin-bottom: 40px
        position: relative
        img,
        canvas
            width: 100%
        .slick-arrow
            z-index: 9
            background-color: #EFEFF4
            border-color: #EFEFF4
            border-radius: 0
            &:hover
                border-color: #BCBCBC
        .slick-disabled
            opacity: 0.5
    &-list
        display: flex
        flex-wrap: nowrap
        counter-reset: instruction-list
        max-width: calc(100% - 20px)
        img,
        canvas
            border: 1px solid #CFCFCF
        li
            position: relative
            padding-bottom: 27px
            counter-increment: instruction-list
            margin: 0 6px
            width: 35px
            flex: 0 0 35px
            cursor: pointer
            img,
            canvas
                width: 100%
            &:hover,
            &.active
                img,
                canvas
                    border-color: $template-blue
            &:after
                content: counter(instruction-list)
                position: absolute
                bottom: 0
                left: 50%
                transform: translateX(-50%)
    
.download
    display: inline-block
    vertical-align: middle
    background-color: $template-blue
    position: relative
    width: 30px
    height: 30px
    border-radius: 50%
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4)
    &:hover
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.1)
    &:after
        content: ''
        background-image: url('../img/icons/download.svg')
        background-size: contain
        background-repeat: no-repeat
        display: block
        width: 18px
        height: 12px
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
.search
    display: inline-block
    vertical-align: middle
    background-color: #EFEFF4
    position: relative
    width: 30px
    height: 30px
    border-radius: 50%
    border: 1px solid #E2E2E2
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4)
    &:hover
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.1)
    &:after
        content: ''
        background-image: url('../img/icon_search.svg')
        background-repeat: no-repeat
        background-size: contain
        position: absolute
        display: block
        width: 16px
        height: 19px
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)

.promos-slider-vertical
    margin-top: 30px
    margin-bottom: 30px
    .slick-arrow
        z-index: 9
        background-color: $pagination-bg
        border-color: $pagination-bg
        height: 40px
        width: 23px
        padding: 0
    .promocode_big
        padding: 20px 10px 10px 10px
    .promocode-image
        height: 60px

@media (max-width: 1289px)
    .product
        &-tabs
            &__item
                margin-right: 50px
        &-top
            &__center
                padding-left: 15px
    .tablePrice
        &__col-2
            flex-direction: column
            flex: 0 0 29%
            width: 29%
        &__site
            margin-bottom: 10px

@media (min-width: 991px)
    .promos-slider-vertical
        width: 136px
        height: 295px
        .promos-slider__item
            height: 140px
            margin: 3px 0
        .slick-arrow
            z-index: 9
            background-color: $pagination-bg
            border-color: $pagination-bg
            height: 40px
            width: 23px
            padding: 0
        .slick-prev
            top: -37px
            left: 50%
            transform: translateX(-50%) rotate(-90deg)
            transform-origin: center
        .slick-next
            top: 100%
            left: 50%
            transform: translateX(-50%) rotate(90deg)
            transform-origin: center
@media (max-width: 991px)
    .product
        &-top
            flex-wrap: wrap
            &__left
                flex: 0 0 50%
                max-width: 50%
            &__center
                flex: 0 0 50%
                max-width: 50%
            &__right
                flex: 0 0 100%
                max-width: 100%
    .promos-slider-vertical    
        width: 95%
        margin-left: auto
        margin-right: auto
        .slick
            &-slide
                padding: 0 10px
                & > div
                    height: 100%
            &-prev
                left: -20px
            &-next
                right: -20px
    .tablePrice
        &__col-3
            flex: 0 0 18%
            width: 18%
            flex-direction: column
            align-items: flex-start
        &__col-4
            flex: 0 0 18%
            width: 18%
    .similar
        &__list
            flex: 0 0 170px
            width: 170px
        &__items
            .product
                max-width: 270px
                margin-left: 5px
                margin-right: 5px

@media (max-width: 767px)
    .top-brands-card
        margin-left: 0
        margin-right: 0
        padding-left: 0
        padding-right: 0
    .product
        &-top
            &__left
                flex: 0 0 100%
                max-width: 100%
            &__center
                flex: 0 0 100%
                max-width: 100%
                padding: 0
        &-slider
            flex-direction: column
            &__main
                width: 100%
                margin-bottom: 15px
            &__small
                position: static
                width: 100%
                height: auto
                margin-bottom: 15px
        &-tabs
            flex-direction: column
            align-items: flex-start
            box-shadow: none
            padding: 0
            &__item
                margin-right: 0
                margin-bottom: 15px
            &-show
                &__item
                    margin-bottom: 15px
    .tablePrice
        &__row
            flex-wrap: wrap
        &__col-1
            flex: 0 0 60%
            width: 60%
            order: 1
            margin-bottom: 10px
        &__col-2
            order: 3
            flex-direction: row
            flex: 0 0 70%
            width: 70%
            padding-left: 68px
            .tablePrice__delivery
                order: -1
            .tablePrice__site
                margin-bottom: 0
        &__col-3
            order: 2
            //flex: 0 0 40%
            //width: 40%
            flex: 0 0 100%
            flex-direction: row
            align-items: flex-end
            margin-bottom: 10px
            padding-left: 68px
            .pa-prod__price-old
                padding-left: 15px
            .pa-prod__price-new
                margin-right: 0
        &__col-4
            order: 4
            flex: 0 0 30%
            width: 30%
    .similar
        &__container
            flex-wrap: wrap
        &__list
            flex: 0 0 100%
            width: 100%
            flex-direction: row
            margin-bottom: 30px
            display: flex
            flex-wrap: wrap
            padding-bottom: 0
            justify-content: space-between
            &:after
                content: ''
                flex: 0 0 10%
            li
                padding: 5px
                margin-bottom: 15px!important
                &.active
                    padding-right: 10px
        &__items
            .product
                max-width: 255px
                &__img
                    width: 100px
                    flex: 0 0 100px
                &__container
                    width: calc(100% - 100px)
                    flex: 0 0 calc(100% - 100px)

@media (max-width: 560px)
    .instruction 
        table 
            tr
                position: relative
            td
                padding: 5px!important
                font-size: 12px
                .instruction-img
                    display: none
                .download
                    margin-right: 8px
                    width: 20px
                    height: 20px
                    &:after
                        width: 13px
                        height: 10px
                .search
                    width: 20px
                    height: 20px
                    &:after
                        width: 10px
                        height: 11px
                
    .promos-slider-vertical 
        width: 100%
        margin-left: 0
        margin-right: 0
        .slick-prev
            left: 0px
        .slick-next
            right: 0px

    .similar
        &__items
            .profitable-list
                justify-content: center
            .product
                max-width: 300px
                &__img
                    width: 113px
                    flex: 0 0 113px
                &__container
                    width: calc(100% - 113px)
                    flex: 0 0 calc(100% - 113px)

@media screen and (max-width: 520px)
    .tablePrice
        &__col-1
            flex: 0 0 100%
            width: 100%
        &__col-2
            flex: 0 0 100%
            width: 100%
            margin-bottom: 10px
        &__col-3
            flex: 0 0 100%
            width: 100%
            align-items: flex-end
            flex-direction: row
            padding-left: 68px
            .pa-prod__price-old
                padding-left: 15px
        &__col-4
            flex: 0 0 100%
            width: 100%
            padding-left: 68px
    
@media screen and (max-width: 359px)
    .tablePrice
        &-chars, &__col-2, &__col-3, &__col-4
            padding-left: 0
