@import 'vars'

.letter-list
	display: flex
	justify-content: flex-start
	@media screen and (max-width: 1289px)
		flex-wrap: wrap
	&__link
		color: $template-blue
		display: inline-block
		font-size: 19px
		font-family: $font-regular
		text-transform: uppercase
		padding-right: 15px
		padding-bottom: 5px
		&:hover
			text-decoration: underline

.promocodes
	display: flex
	flex-wrap: wrap
	padding-top: 20px
	.promocodes-sidebar
		flex: 0 0 224px
		max-width: 224px
		@media screen and (max-width: 1289px)
			flex: 0 0 100%
			max-width: 100%
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: flex-start
			flex-wrap: wrap
			align-items: flex-start
		img
			max-width: 100%
	.promocodes-main
		flex: 0 0 calc(100% - 224px)
		max-width: calc(100% - 224px)
		padding-left: 20px
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
			width: calc(100% - 224px)
		@media screen and (max-width: 1289px)
			flex: 0 0 100%
			max-width: 100%
			padding-left: 0
	.promocodes-likes
		padding: 25px 15px
		display: flex
		align-items: center
		justify-content: center
		flex-wrap: wrap
		box-shadow: 0 0 14px rgba(0, 0, 0, 0.1)
		@media screen and (max-width: 1289px)
			flex: 0 0 293px
			max-width: 293px
			margin-bottom: 15px
		@media screen and (max-width: 767px)
			flex: 0 0 100%
			max-width: 100%
	.like-col
		flex-direction: row
		width: 100%
		justify-content: space-between
		align-items: center
		padding-top: 25px
		@media screen and (max-width: 1289px)
			padding-left: 55px
			padding-right: 55px
			.bell-rating
				margin-right: 0
		div
			margin-bottom: 0
	.promocodes-economy
		border-radius: 4px
		border: 1px solid #e6e6e6
		padding: 25px 20px
		margin-top: 32px
		@media screen and (max-width: 1289px)
			border: none
			flex: 0 0 calc(100% - 293px)
			max-width: calc(100% - 293px)
			margin-top: 0
			display: none
		@media screen and (max-width: 767px)
			flex: 0 0 100%
			max-width: 100%
		.economy-text
			margin: 15px 0

.economy-list
	padding-top: 10px
	&__item
		display: flex
		flex-wrap: nowrap
		margin-bottom: 15px
		&:last-child
			margin-bottom: 0
		.text
			max-width: calc(100% - 48px)
			flex: 0 0 calc(100% - 48px)
			padding-left: 15px
		.discount
			flex-grow: 1

.promocodes-widget
	background-color: #f5f5f8
	padding: 40px 35px 28px
	&:nth-of-type(1)
		@media screen and (max-width: 1289px)
			position: relative
			padding: 20px 0
			&:before
				content: ''
				position: absolute
				top: 0
				left: -15px
				width: 15px
				height: 100%
				background-color: #f5f5f8
			&:after
				content: ''
				position: absolute
				top: 0
				right: -15px
				width: 15px
				height: 100%
				background-color: #f5f5f8
	.promocodes-widget-list
		@media screen and (max-width: 767px)
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
		// justify-content: space-between
		&__item
			cursor: pointer
			display: inline-block
			font-family: $font-regular
			font-size: 13px
			color: #ccccce
			padding: 10px 19px
			margin-right: 30px
			@media screen and (max-width: 767px)
				margin-right: 0
			&:after
				content: ''
				display: block
				height: 2px
				width: 100%
				background: url(../img/dots-black.svg)
				opacity: 0.29
			&.active
				border-radius: 4px
				border: 1px solid #000000
				color: #000000
				&:after
					//opacity: 0
					display: none
			&:hover
				&:after
					opacity: 0

.promocodes-viewport
	@media screen and (max-width: 1289px)
		padding-top: 5px
	.promocodes-item
		display: none
		&.active
			display: block

.promocodes-slider, .expired-slider
	margin-left: -13px
	margin-right: -13px
	&_top
		background-color: #cd0031
		border-top-left-radius: 4px
		border-top-right-radius: 4px
		margin-left: 4px
		margin-right: 4px
		padding: 15px
		text-align: center
		&_stock
			background-color: transparent
	&-container
		background: url('../img/tutorial/hard-bg.png') no-repeat
		-webkit-background-size: 100% 100%
		background-size: 100% 100%
		padding-bottom: 65px
	.text
		color: #8E8E93
		font-size: 13px
		line-height: 1.2
		padding: 15px 20px 0
	&__cost
		color: #ffffff
		font-family: $font-bold
		font-size: 27px
		padding-top: 5px
		&_stock
			color: #cd0031
	&__text
		color: #ffffff
		font-family: $font-regular
		font-size: 16px
		padding-top: 15px
		min-height: 47px
		&_stock
			color: #000
		@media screen and (max-width: 1289px)
			min-height: 1px
			white-space: nowrap
			text-overflow: ellipsis
			overflow: hidden
	&__content
		transform: translateY(20px)
	&__status
		padding: 0 15px 15px
		text-align: center
		&_stock
			padding-top: 13px
	/*13 + 29 = 42*/
	&__date
		color: #cd0031
		font-family: $font-regular
		font-size: 12px
		text-align: center
		&_stock
			padding-bottom: 29px
	/*13 + 29 = 42*/
	&__use
		color: #000000
		font-family: $font-regular
		font-size: 12px
		text-align: center
		padding: 15px
		&_stock
			display: none
	&__more
		cursor: pointer
		display: flex
		align-items: center
		justify-content: center
		flex-wrap: nowrap
		max-width: 195px
		margin: auto
		transform: translateY(12.5px)
		&:hover
			.btn
				background-color: #b90530
			.more
				background-color: #8e0123
		.btn
			background-color: #cd0031
			border-top-right-radius: 0
			border-bottom-right-radius: 0
			font-size: 12px
			max-width: 156px
		.more
			border: none
			border-bottom-right-radius: 4px
			border-top-right-radius: 4px
			background-color: #9a0025
			color: #fff
			cursor: pointer
			max-width: 59px
			height: 100%
			padding: 10.5px 12px
			&-text
				display: inline-block
				transform: translateY(2px)
		&_stock
			.more
			display: none
			.btn
				background-color: #fff
				border-top-right-radius: 4px
				border-bottom-right-radius: 4px
				color: #000
			.btn-arrow
				filter: brightness(0)
				margin-left: 15px
				transform: translateY(2px)
			&:hover
				.btn
					background-color: transparent
					box-shadow: 0 0 14px rgba(0, 0, 0, 0.1)
	.done
		text-align: center
	.slick-slide
		padding: 10px
	.slick-arrow
		top: 55%
		z-index: 1
	.slick-prev
		left: 15px
		@media screen and (max-width: 1289px)
			left: 13px
	.slick-next
		right: 15px
		@media screen and (max-width: 1289px)
			right: 13px
	.slick-dots
		bottom: -14px
		button
			border: 2px solid rgba(0, 0, 0, 0.23) !important
			&:before
				border: 2px solid rgba(0, 0, 0, 0.23) !important
				background-color: transparent !important
		.slick-active
			button
				border: 2px solid $template-blue !important
				&:before
					background-color: $template-blue !important
					border: 2px solid $template-blue !important

.expired
	background-color: #fff
	padding-left: 0
	@media screen and (max-width: 1289px)
		padding-right: 0
	.help-padding
		padding-left: 35px
		@media screen and (max-width: 1289px)
			padding-left: 0
	.sub-title
		@media screen and (max-width: 767px)
			margin-bottom: 15px
	.slick-prev
		left: -18px
		@media screen and (max-width: 1289px)
			left: 13px
	.slick-next
		right: -18px
		@media screen and (max-width: 1289px)
			right: 13px
	.slick-arrow
		top: 48%
		@media screen and (max-width: 1289px)
			top: 55%
	.promocodes-slider_top
		background-color: transparent
	.promocodes-slider__cost,
	.promocodes-slider__text
		color: #8e8e93
	.promocodes-slider__more
		&:hover
			.btn
				background-color: #8e8e93
			.more
				background-color: #4d4d4d
	.btn
		background-color: #8e8e93
	.more
		background-color: #4d4d4d
// .promocodes-slider-container
// 	background: url('../img/tutorial/hard-bg-expired.png') no-repeat
	//box-shadow: 0 0 6px rgba(28, 6, 46, 0.07)

.shopping-tips
	padding-top: 10px
	.sub-title
		margin-bottom: 15px

.shopping-slider
	@media screen and (max-width: 449px)
		padding: 0 45px
	&-container
		box-shadow: 0 0 14px rgba(0, 0, 0, 0.1)
		border-radius: 4px
		max-width: 224px
		min-height: 235px
		padding: 15px
		@media screen and (max-width: 1289px)
			margin: 0 auto
		@media screen and (max-width: 767px)
			max-width: 270px
			margin: auto
	&__title
		font-size: 18px
		margin-bottom: 15px
		padding-top: 18px
	&__text
		overflow: hidden
		max-height: 100px
	&-image
		@media screen and (max-width: 1289px)
			height: 50px
			img
				max-width: 100%
				height: 50px
	.slick-slide
		padding: 10px
	.slick-dots
		bottom: -15px
		@media screen and (max-width: 1289px)
			bottom: -20px
		button
			border: 2px solid rgba(0, 0, 0, 0.23) !important
			&:before
				border: 2px solid rgba(0, 0, 0, 0.23) !important
				background-color: transparent !important
		.slick-active
			button
				border: 2px solid $template-blue !important
				&:before
					background-color: $template-blue !important
					border: 2px solid $template-blue !important
	.slick-arrow
		z-index: 1
	.slick-prev
		left: 0
	.slick-prev
		right: 0

.profitable-section
	padding-top: 15px
	.sub-title
		margin-bottom: 15px
	.p-cart-bth
		i
			font-size: 12px
			margin-left: 15px
			margin-right: 0
			display: inline-block
			filter: brightness(0) invert(1)
			transform: translateY(1px)
	.profitable-list
		justify-content: center
		@media screen and (max-width: 1289px)
			margin-left: -10px
			margin-right: -10px
	.product
		@media screen and (max-width: 1289px)
			margin-right: 5px
			margin-left: 5px

.catalog-description-promocodes
	padding-top: 5px
	@media screen and (max-width: 1289px)
		padding-top: 0
		h4
			margin-top: 0
