@import 'vars'

.single-table
	display: table
	border-collapse: collapse
	border-spacing: 1px
	border-color: #000
	//table-layout: fixed
	width: 100%
	&-parent
		overflow-y: hidden
		overflow-x: scroll
	*
		font-size: 14px
	p
		font-size: inherit
		padding: 0
		line-height: 1.2
		margin-bottom: 5px !important
		&:last-child
			margin-bottom: 0 !important

	th
		/*display: table-header-group;
		vertical-align: middle
		text-align: center
		border-color: inherit

	tr
		display: table-row
		vertical-align: inherit
		border-color: inherit

	td
		border: 1px solid #000
		text-overflow: ellipsis
		overflow: hidden
		padding: 5px 2px

	/*
	 * 								Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
//@media only screen and (max-width: 767px)
//	/* Force table to not be like tables anymore
//	table, thead, tbody, th, td, tr
//		display: block
//	.single-table
//		/* Hide table headers (but not display: none;, for accessibility)
//		border: none
//		thead tr
//			position: absolute
//			top: -9999px
//			left: -9999px
//		tr
//			margin: 0 0 1rem 0
//			&:nth-child(odd)
//				background: lighten(#ccc, 10%)
//			&.empty
//				display: none
//		td
//			/* Behave  like a "row"
//			border: none
//			border-bottom: 1px solid #eee
//			position: relative
//			padding-left: 50%
//			&:before
//				/* Now like a table header
//				position: absolute
//				/* Top/left values mimic padding
//				top: 50%
//				transform: translateY(-50%)
//				left: 6px
//				width: 45%
//				padding-right: 10px
//				white-space: nowrap
//			&:nth-of-type(1):before
//				content: ""
//			&:nth-of-type(2):before
//				content: "1"
//			&:nth-of-type(3):before
//				content: "2"
//			&:nth-of-type(4):before
//				content: "3"
//			&:nth-of-type(5):before
//				content: "4"
//			&:nth-of-type(6):before
//				content: "5"
//			&:nth-of-type(7):before
//				content: "6"
//			&:nth-of-type(8):before
//				content: "7"
//			&:nth-of-type(9):before
//				content: "8"
//			&:nth-of-type(10):before
//				content: "9"
//			&:nth-of-type(11):before
//				content: "10"
