@import 'vars'

.widget-subscribe
	background-color: #ffffff
	padding: 40px 0
	max-width: 550px
	margin: 0 auto
	input
		&.subscribe-input
			background-color: $input-bg
	.subscribe
		padding: 0
		.subscribe-icon
			right: 0
			top: 40px
			transform: unset
		.sub-title
			padding-right: 70px
			text-align: left
			@media screen and (max-width: 575px)
				padding-right: 85px
		.sub-title_normal
			max-width: 100%
			margin: auto
			line-height: 1.2
			font-size: 24px
			margin-bottom: 22px
			@media screen and (max-width: 359px)
				font-size: 22px
		.sub-title_mini
			text-align: left
			margin-top: 0
			line-height: 1.3
		.subscribe-form
			margin-top: 27px
			.subscribe-input
				min-width: 1px
				width: 100%
				margin-bottom: 10px
				margin-right: 0
			.subscribe-btn
				max-width: 100%
				margin-top: 10px
				padding: 14px

.widget-profitable
	h2
		margin-bottom: 25px
	&__products
		display: flex
		flex-direction: column
	.product
		margin-left: auto
		margin-right: auto

.video-fullwidth
	max-width: 100%

.single-content,
.catalog-description
	& > img
		margin-bottom: 27px
	img
		border-radius: 4px
		max-width: 100%
	p
		margin-bottom: 15px
	h3
		margin-bottom: 11px
		margin-top: 32px
	.embed-responsive
		margin-bottom: 25px
		border-radius: 4px
		overflow: hidden
	ul
		color: #8E8E93
		line-height: 1.3
		padding: 0
		margin: 0 0 15px
		li 
			//padding-left: 20px
			//margin-bottom: 13px
			//position: relative
			&:after 
				content: ''
				display: block
				width: 8px
				height: 8px
				background-color: transparent
				border-radius: 50%
				position: absolute
				left: 1px
				top: 1px
	ol
		margin: 0 0 28px
		padding: 0
		counter-reset: counter
		list-style: none
		font-size: 14px
		color: #000
		li
			padding-left: 23px
			margin-bottom: 17px
			counter-increment: counter
			position: relative
			&:before
				content: counter(counter) ". "
				position: absolute
				left: 0
			a
				font-size: 14px
				color: #000
				//color: $text-gray-about

.single-content
	.slick-dots
		bottom: -35px
	p
		color: #000
				
.img-fullwidth
	width: 100%

.content-slider
	margin-left: -10px
	margin-right: -10px
	&.slick-dotted.slick-slider
		margin-bottom: 50px
	.slick-slide
		padding: 0 10px
	&__item
		height: 330px
		border-radius: 4px
		overflow: hidden
	img
		width: 100%
		height: 100%
		object-fit: cover

.similar
	&-articles
		background-color: $template-gray
		padding: 40px 0 0 0
		h2
			margin-bottom: 20px
			padding: 0 42px
	&-slider
		padding: 0 30px
		&__item
			padding: 0 14px
		.slick-arrow
			z-index: 9
			


@media (max-width: 1289px)
	.content-slider
		&__item
			height: 250px
@media (max-width: 991px)
	.widget-profitable
		&__products
			flex-direction: row
			flex-wrap: wrap
			justify-content: center
			margin-left: -10px
			margin-right: -10px
		.product
			margin-left: 10px
			margin-right: 10px

@media (max-width: 767px)
	blockquote
		margin-left: 0
	.single
		&-sidebar
			order: 1
		&-content
			order: 0

@media (max-width: 767px) and (min-width: 560px)
	.widget-profitable
		.product
			margin-left: 5px
			margin-right: 5px
			max-width: 255px
			flex: 0 0 255px
			&__img
				flex: 0 0 100px
				max-width: 100px
			&__container
				flex: 0 0 calc(100% - 100px)
				max-width: calc(100% - 100px)
