@import 'vars'

.slick-arrow
    z-index: 9

.top-rating-slider
    margin-right: -10px
    margin-left: -10px
    display: block
    .rating-item
        text-align: left
    .slick-slide
        padding: 10px
        & > div
            text-align: center

// .rating-list-slider
//     li
//         display: flex !important
            
// @media (max-width: 1289px)
//     .rating-list-slider
//         li
//             max-width: none
//             margin-bottom: 0
//             height: 100%
//         .slick-slide
//             padding: 0 10px
//             & > div
//                 height: 100%



.catalog-widget.rating, .promocodes-widget, .top-rating-slider, .profitable-slider, .product-slider__main,
.product-slider__small, .promos-slider-vertical, .image-grid-section_slider .image-grid, .content-slider,
.similar-slider, .rating-slider.active, .promos-slider
    opacity: 0