@import 'vars'

.catalog-widget.rating
	margin-bottom: 40px
	@media screen and (max-width: 991px)
		display: none

.rating
	&-row
		display: flex
		justify-content: space-between
	&-item
		flex: 0 0 32%

.table
	&-top
		display: flex
		flex-direction: column
		border-radius: 4px
		border: 1px solid #D6D6D6
		margin-bottom: 38px
		counter-reset: table-counter 3
	&-row
		display: flex
		align-items: center
		padding: 11px 0
		border-bottom: 1px solid #D6D6D6
		counter-increment: table-counter
		&:last-child
			border-bottom: 0
	&-image
		flex: 0 0 18%
		max-width: 18%
		padding-left: 60px
		position: relative
		font-size: 0
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
			width: 70px
		@media screen and (max-width: 767px)
			flex: 0 0 92px
			max-width: 92px
		&:after
			content: counter(table-counter)
			position: absolute
			left: 12px
			top: 50%
			font-size: 14px
			transform: translateY(-50%)
			display: block
			width: 28px
			height: 28px
			background-color: $rating-item-position
			border-radius: 50%
			text-align: center
			padding: 7px 0
		img
			width: 88px
			height: 64px
			object-fit: cover
			@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
				height: auto
				max-height: 150px
			@media screen and (max-width: 767px)
				width: 100%
				max-height: 70px
				object-fit: cover
	&-top__col
		flex: 0 0 82%
		padding-left: 30px
		display: flex
		align-items: center
	&-link
		flex: 0 0 54%
		a
			font-size: 14px
			color: $template-blue
			&:hover
				text-decoration: underline
	&-like
		flex: 0 0 25%
		.like-col
			flex-direction: row
			align-items: center
			padding: 0
			font-size: 13px
			div
				margin-right: 13px
				margin-bottom: 0
			i
				width: 19px
				height: 20px
	&-show
		display: flex
		flex-direction: column
		font-size: 13px
		color: rgba(0, 0, 0, 0.35)
		span
			display: inline-block
			margin-bottom: 10px
		a
			font-size: 11px
			color: $template-blue
			i
				width: 11px
				height: 8px
			&:hover
				text-decoration: underline

.single-content
	.art-slide__info
		margin-bottom: 20px
		margin-top: -10px
	.rating-row
		margin-bottom: 23px
	h2
		font-size: 22px
		font-family: $font-medium
		margin-bottom: 15px

.rating
	&-post
		display: flex
		font-size: 13px
		align-items: center
		&__item
			margin-right: 12px
		a
			width: 40px
			height: 40px
			background-size: 22px
			background-position: center 7px
			vertical-align: middle
			margin-right: 7px

.share-post
	display: flex
	align-items: center
	font-size: 14px
	span
		margin-right: 10px
	li
		margin-right: 10px

.post-row-share
	margin-bottom: 35px

.single-marge-list
	margin-bottom: 13px

.reviews
	padding: 25px 18px 25px 23px
	h2
		margin-bottom: 20px

.review
	&-form
		padding: 40px 23px
		background-color: $template-gray
		border: 1px solid rgba(112, 112, 112, 0.13)
		border-radius: 4px
		&-post
			padding: 40px 35px
			margin-left: -12px
		h2
			margin-bottom: 20px
		input,
		textarea
			width: 100%
			padding-left: 10px
			background-color: #fff
			margin-bottom: 17px
			font-family: $font-medium
			&:hover
				border-color: #BCBCBC
		textarea
			height: 95px
			resize: none
		&__rating
			font-size: 14px
			margin-bottom: 20px
			span
				margin-right: 20px
			a
				margin-right: 20px
	
	&-info
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 10px
	&-name
		font-size: 14px
	&-date
		font-size: 12px
		color: $found-text
	&-message
		background-color: $pagination-bg
		border: 1px solid $template-blue
		border-radius: 8px
		border-top-left-radius: 0
		padding: 12px 30px 12px 17px
		margin-bottom: 20px
		position: relative
		&:after
			cursor: pointer
			content: ''
			display: block
			position: absolute
			right: 12px
			bottom: 12px
			width: 15px
			height: 15px
			background: url('../img/review-like.svg')
			background-size: contain
			background-repeat: no-repeat
		&.message-dislike
			border-color: $template-red
			&:after
				background: url('../img/review-dislike.svg')

.related-ratings
	background-color: $template-gray
	padding: 40px 0 30px 0
	h2
		margin-bottom: 25px
	.rating-list
		display: block
		padding: 0 50px
		justify-content: space-between
		.slick-slide
			padding: 0 10px
		li
			width: 100%
			max-width: 100%
			flex-basis: 100%
			height: 145px
			margin: 0
		a
			text-overflow: ellipsis
			overflow: hidden
			max-height: 47px
			@-moz-document url-prefix()
				max-height: 60px
		&__image
			height: 100%
			object-fit: cover
			width: 100%
			max-width: 1000px
	.reting-item
		max-width: 168px
	

.profitable
	padding: 40px 0
	&-slider
		&__item
			padding: 10px
.profitable-pt-0
	padding-top: 0
	
@media (max-width: 1289px)
	.table
		&-like
			display: none
	.single-content
		.rating
			&-row
				flex-direction: column
				margin-bottom: 0
				align-items: center
			&-item
				flex: 0 0 100%
				margin-bottom: 60px
	.review
		&-form
			&-post
				margin-left: 0
	
	.related-ratings
		.rating-list
			li
				margin-right: 0
				margin-left: 0
				//flex: 0 0 24%

@media (max-width: 991px)
	.profitable-slider
		.rating-item
			margin-left: auto
			margin-right: auto
	.widget-popular-articles
		.article
			margin-left: auto
			margin-right: auto
	.review
		&-form
			&-post
				margin-bottom: 30px

@media (max-width: 767px)
	.rating-post
		margin-bottom: 20px
	//.related-ratings
	//	.rating-list
	//		li
	//			flex: 0 48%
	.table-top__col
		flex-direction: column
		align-items: flex-start
		flex: 1 1 auto
		padding-left: 10px
		.table-link
			margin-bottom: 10px

//@media (max-width: 450px)
//	.related-ratings
//		.rating-list
//			justify-content: center
//			li
//				flex: 0 100%

