@import 'vars'

.tutorial-section
	padding: 44px 15px
	@media screen and (max-width: 1289px)
		padding: 40px 15px
	@media screen and (max-width: 767px)
		padding-left: 0
		padding-right: 0
	.col-12
		@media screen and (max-width: 767px)
			padding: 0
.tutorial
	display: flex
	flex-wrap: wrap
	&-top, &-bottom
		flex: 0 0 100%
		max-width: 100%
		display: flex
	&-top
		@media screen and (max-width: 767px)
			flex-wrap: wrap
		&:after
			display: none
			content: ''
			background: url('../img/tutorial/step-mini.svg') no-repeat 0 0
			clear: both
			width: 100%
			height: 100px
			@media screen and (max-width: 767px)
				display: table
			@media screen and (max-width: 360px)
				background: url('../img/tutorial/step-mini.svg') no-repeat 55% 0
	&-bottom
		background-color: #fff 
		justify-content: center
		margin-top: 60px
		position: relative
		z-index: 2
		@media screen and (max-width: 1289px)
			margin-top: 110px
		@media screen and (max-width: 767px)
			flex-wrap: wrap
			justify-content: flex-start
			padding-left: 15px
			padding-right: 15px
			margin-top: 0
			.tutorial-text
				line-height: 22px
				padding-top: 10px
	.tutorial-image
		flex-shrink: 1
		img
			max-width: 428px
		@media screen and (max-width: 1289px)
			flex: 0 0 50%
			max-width: 50%
		@media screen and (max-width: 767px)
			flex: 0 0 100%
			max-width: 100%
			margin-top: 40px
			position: relative
			z-index: 2
		img
			@media screen and (max-width: 1289px)
				max-width: 100%
	.tutorial-info
		flex-grow: 1
		display: flex
		align-items: center
		flex-wrap: wrap
		padding-left: 70px
		position: relative
		@media screen and (max-width: 1289px)
			flex: 0 0 50%
			max-width: 50%
			padding-left: 15px
		@media screen and (max-width: 767px)
			flex: 0 0 100%
			max-width: 100%
			order: -1
		&-img
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -15%)
			@media screen and (max-width: 1289px)
				left: auto
				right: -25px
				top: 30%
				transform: unset
			@media screen and (max-width: 767px)
				right: 15px
				top: 14%
		&-in
			@media screen and (max-width: 1289px)
				padding-top: 35px
			@media screen and (max-width: 767px)
				padding-top: 0
	.tutorial-text
		color: #000000
		font-family: $font-regular
		font-size: 17px
		max-width: 325px
		padding-left: 15px
	.tutorial-desc
		color: #979797
		font-family: $font-light
		font-size: 14px
		padding-left: 15px
		margin-top: 10px
		@media screen and (max-width: 767px)
			font-size: 13px
	.smart-sale
		border: 1px solid #e2e2e2
		background-color: #f5f5f8
		margin-bottom: 0
		position: relative
		z-index: 1
		&-wrapper
			max-width: 100%
			padding-left: 15px
			margin: 15px 0 20px
	.step
		background: url('../img/tutorial/step-bg.svg') no-repeat
		color: #000000
		font-family: $font-bold
		font-size: 33px
		padding: 15px
		max-width: 100%
		// @media screen and (max-width: 1289px)
		// 	background-size: 12%
		// 	background-position: 5px 45%
		&-wrapper
			.tutorial-text
				max-width: 282px
				@media screen and (max-width: 1289px)
					max-width: 100%
				@media screen and (max-width: 767px)
					margin-bottom: 15px
					line-height: 1.2
	.product-wrapper
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		@media screen and (max-width: 1289px)
			flex-wrap: wrap
			max-width: 50%
		@media screen and (max-width: 767px)
			max-width: 100%
			flex: 0 0 100%
			margin-top: 22px
	.product
		max-width: 335px
		margin-bottom: 0
		@media screen and (max-width: 1289px)
			max-width: 100%
	.bookmark-arrow
		margin: 0 39px
		display: flex
		align-items: flex-end
		img
			transform: translateY(50%)
			@media screen and (max-width: 767px)
				transform: unset
		@media screen and (max-width: 767px)
			margin: 0
			position: absolute
			right: 15px
			top: 30%
	.tutorial-last
		display: flex
		align-items: center
		@media screen and (max-width: 1289px)
			flex-wrap: wrap
			max-width: 100%
			flex: 0 0 100%
			justify-content: center
		img
			margin-left: 20px
			margin-right: 15px
			@media screen and (max-width: 1289px)
				transform: rotate(90deg)
				margin-left: 0
				margin-right: 0
				margin-top: 15px
				margin-bottom: 15px
		&-text
			color: #c4c4c4
			font-family: $font-light
			font-size: 13px
			max-width: 136px
			@media screen and (max-width: 1289px)
				max-width: 100%
				flex: 0 0 100%
				text-align: center

.tutorial-modal
	background: #fff
	&__title
		margin-top: 30px
		text-align: center
		position: relative
		&_big
			color: #000
			font-family: $font-bold
			font-size: 30px
		&_mini
			color: #000
			font-family: $font-regular
			font-size: 18px
			margin-top: 10px
			margin-bottom: 15px
		.tutorial-modal-image
			position: absolute
			left: 30px
			top: -15px
	.text
		margin-bottom: 30px