@import '../_vars'
    
.sem-page
    .mini-header
        background: url(../img/header-bg.jpg) no-repeat center/cover
        background-size: cover
        height: 70px
        display: flex
        align-items: center
    .mini-header__wrapper
        display: flex
        align-items: center
    .mini-header__text
        color: #fff
        margin-left: 55px
    .product-slider__main
        border: none
        border-radius: 0
        width: 100%
        .slick-arrow
            display: none !important
    .product-top__left,
    .product-top__center,
    .product-top__right
        flex: 0 0 33.333%
        max-width: 33.333%

    .product-profitable 
        .other-products__btn
            position: absolute
            left: 6px

    .product-info__title
        display: inline-block
        font-size: 24px
        margin-bottom: 8px
        font-family: $font-medium

    .product-info__list
        padding-left: 20px
        margin-bottom: 20px
    .product-info__li
        padding: 2px 0
        list-style-type: disc

    .product-main-section
        background-color: #fff
        &.scroll
            transition: .5s
            position: fixed
            top: 0
            z-index: 5
            width: 100%

    .product-main-section__top
        padding: 40px 0
    .product-main-section
        display: none
    .product-main-section__bottom
        padding: 10px 0
        border-bottom: 1px solid #f5f5f8
        .product-profitable
            padding: 15px 20px
            margin-bottom: 0
        .tablePrice__col-1
            padding-right: 15px
        .product-profitable-description
            font-size: 12px
    .scroll
        &.product-main-section
            display: block
        .tablePrice__row
            padding: 0

@media (max-width:767px)
    .sem-page
        .product-top
            flex-direction: column
        .product-main-section__top
            padding-bottom: 10px
        .scroll
            padding-bottom: 10px
            padding-top: 10px
            /* .product-main-section__bottom
                display: none */
        .product-top__left,
        .product-top__center,
        .product-top__right
            flex:  0 0 100%
            max-width: 100%
        .product-top__right
            margin-top: 20px
        .mini-header__text
            margin-left: 20px