
@font-face {
  font-family: 'MullerLightItalic';
  src: url('MullerLightItalic.eot?#iefix') format('embedded-opentype'),  url('MullerLightItalic.otf')  format('opentype'),
	     url('MullerLightItalic.woff') format('woff'), url('MullerLightItalic.ttf')  format('truetype'), url('MullerLightItalic.svg#MullerLightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
